{% extends "base.html" %}
{% load static i18n sass_tags %}

{% block title %}
    {% trans "403 - Foot fault!" %}
{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{% sass_src 'css/error.scss' %}">
{% endblock %}

{% block content %}
	<img src="{% static 'img/4xx.jpg' %}"/>
	<div class="text">
		<h1 class="title">{% trans "403 - Foot fault!" %}</h1>
		<h2>{% trans "You are not allowed to see this. You received a penalty stroke." %}</h2>

	</div>
{% endblock content %}
