{% extends "base.html" %}
{% load static i18n %}

{% block title %}
    {% trans "500 - WTF Richard!?" %}
{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'error.css' %}">
{% endblock %}

{% block content %}
	<img src="{% static '500.jpg' %}"/>
	<div class="text">
		<h1 class="title">{% trans "500 - WTF Richard!?" %}</h1>
		<h2>{% trans "It seems that we have a problem. Please let us work on that." %}</h2>
		<a href="/"><h3>↪ {% trans "Go back to home page" %}</h3></a>
	</div>
{% endblock content %}
