{% load static cms_tags menu_tags sekizai_tags %}
<!DOCTYPE html>
<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-169368121-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-169368121-1');
        </script>

        <title>DGF - {% block title %}{% page_attribute "page_title" %}{% endblock title %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="icon" href="{% static 'dgf-favicon.png' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'friend_base.css' %}">

        {% render_block "css" %}

        {% comment %}
            The block above is for the DjangoCMS CSS file(s)
            The block below is for every other CSS or JS we want to load
        {% endcomment %}

        {% block css %}
        {% endblock css %}

        <script type="text/javascript" src="{% static 'jquery-3.5.0.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'base.js' %}"></script>
        {% block js %}
        {% endblock js %}

    </head>
    <body>
        {% cms_toolbar %}
        {% language_chooser "includes/language_chooser.html" %}
        <div id="header">
            {% static_placeholder 'header' %}
        </div>
        <div id="mobile-navigation-bar">
            {% show_menu 0 100 100 100 "mobile/navigation-bar.html" %}
            <div id="mobile-navigation-bar-language-chooser" style="display: none">
                {% language_chooser "includes/language_chooser.html" %}
            </div>
        </div>
        <div id="friends-header" class="slide-right">
            {% static_placeholder 'friends-header' %}
        </div>
        <div id="navigation-bar">
            {% comment %}
            Documentation about the navigation bar: http://docs.django-cms.org/en/latest/reference/navigation.html
            {% endcomment %}
            <ul>
                <li id="navigation-bar-header" style="display: none">
                    {% static_placeholder 'header' %}
                </li>
                {% show_menu 0 0 0 0 %}
                <li id="navigation-bar-language-chooser" style="display: none">
                    {% language_chooser "includes/language_chooser.html" %}
                </li>
            </ul>
            <ul>
                {% show_sub_menu 1 1 0 %}
            </ul>
            <ul>
                {% show_sub_menu 1 2 0 %}
            </ul>
        </div>
        <div id="headline">
            {% block headline %}{% endblock headline %}
        </div>
        <div class="container">
            {% block content %}{% endblock content %}
        </div>
        {% render_block "js" %}
        <footer>
            <div id="pre-footer">
                {% static_placeholder 'pre-footer' %}
            </div>
          {% static_placeholder 'footer' %}
        </footer>
    </body>
</html>
