{% load i18n %}

{% if request.user.is_authenticated %}

    {% with request.user.friend as friend %}

        <div id="league-buttons">

            {% if friend.memberships.count == 0 %}
                {% include "dgf_league/popups/create_team.html" %}
                <button id="create-new-team-button" onclick="showPopup('#create-new-team')">
                    {% trans "Create new team" %}
                </button>
            {% endif %}

            {% if friend.memberships.count == 1 %}
                {% include "dgf_league/popups/create_result.html" %}
                <button id="add-result-button" onclick="showPopup('#add-result')">
                    {% trans "Add result" %}
                </button>
            {% endif %}

            {% if friend.memberships.count == 0 and friend.searching.count == 0 %}
                <button id="search-for-team-button" onclick="searchForTeam()">
                    {% trans "I don't have a team, but I would like to play" %}
                </button>
            {% endif %}

        </div>

    {% endwith %}

{% endif %}