{% load i18n dgf_league %}

<script>
    const change_year_url = "{% url 'dgf_league:team_index_year' 1111 %}";
</script>

<div id="league-header">

    <h1>{% blocktranslate with year=year %}Standings {{year}}{% endblocktranslate %}</h1>

    <div id="league-header-past-years">
        {% all_league_years as all_years %}
        {% if all_years %}
            <h2>{% trans "Year" %}</h2>
            <select id="league-year-select" onchange="onChangeYear()">
                {% if year|not_in:all_years  %}
                    <option selected>-----</option>
                {% endif %}
                {% for selectable_year in all_years %}
                    <option {% if year == selectable_year %}selected{% endif %}>
                        {{selectable_year}}
                    </option>
                {% endfor %}
            </select>
        {% endif %}
    </div>

</div>

{% if teams %}

    <table>
        <thead>
            <tr>
                <th>{% trans "Place" %}</th>
                <th>{% trans "Team name" %}</th>
                <th>{% trans "Players" %}</th>
                <th>{% trans "Games played" %}</th>
                <th>{% trans "Points" %}</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for team in teams|calculate_positions %}
                <tr {% if team.results.count > 0 %}class="team-line"{% endif %} onclick="switchResults({{team.id}})">
                    <td class="position">
                        <div class="position-card-container">
                            <span class="position-card">{{team.position}}</span>
                        </div>
                    </td>
                    <td class="team-name">{{team.name}}</td>
                    <td class="members">
                        {% include "dgf_league/includes/team_members.html" with team=team avoid_click=True %}
                    </td>
                    <td>{{team.played_matches}}</td>
                    <td class="points">
                        <div class="ball-container">
                            <div class="ball">{{team.points}}</div>
                        </div>
                    </td>
                    {% if team.results.count > 0 %}
                        <td class="results-button closed"
                            data-team="{{team.id}}">
                        </td>
                    {% endif %}
                </tr>
                {% for match in team|all_team_matches %}
                    <tr class="results" data-team="{{team.id}}" style="display: none">
                        <td colspan="100%">
                            {% include "dgf_league/includes/match.html" with match=match %}
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>

    </table>

{% else %}

    <p>{% trans "There are no teams yet" %}.</p>

{% endif %}
