{% load i18n dgf_league %}

<script>
    const change_year_url = "{% url 'dgf_league:team_index_year' 1111 %}";
</script>

<div id="year-selector-wrapper">

    <div id="league-header-past-years">
        {% all_league_years as all_years %}
        {% if all_years %}
            <h2>{% trans "Year" %}</h2>
            <select id="league-year-select" onchange="onChangeYear()">
                {% if year|not_in:all_years  %}
                    <option selected>-----</option>
                {% endif %}
                {% for selectable_year in all_years %}
                    <option {% if year == selectable_year %}selected{% endif %}>
                        {{selectable_year}}
                    </option>
                {% endfor %}
            </select>
        {% endif %}
    </div>

</div>
