# python
*.pyc
env
venv
.coverage

# django
/media/
*.mo
django.log*
cronjobs.log
/static/

# sqlite
*.db
*.db-journal

#pycharm
.idea

# gedit
*~

# git
*.orig

# secrets from this project. NEVER PUSH THIS!!!
secrets

#selenium
geckodriver.log

