# python
*.pyc
env
venv
.coverage

# django
media/
static/CACHE
*.mo
django.log*
cronjobs.log

# sqlite
*.db
*.db-journal

#pycharm
.idea

# gedit
*~

# git
*.orig

# secrets from this project. NEVER PUSH THIS!!!
secrets

#selenium
geckodriver.log

