@font-face {
  font-family: 'Gnuolane';
  src: url('gnuolane-rg.ttf'); /* IE9 Compat Modes */
  src: url('gnuolane-rg.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@media only screen and (max-width: 768px) {
    #footer {
        padding: 2em;
    }
    #fb-button {
        font-size: xx-large;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    #footer {
        padding-left: 27%;
        padding-right: 27%;
        padding-top: 2em;
        padding-bottom: 2em;
    }
}

/**{*/
/*    box-sizing: border-box*/
/*}*/

body {
    background-color: #001222;
    color: #cccfd2;
    font-family: Gnuolane;
    font-size: larger;
    font-weight: lighter;
    margin: 0;
}

div {
    margin-top: 1em;
}

#body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

#dgf-logo {
    width: 80%;
    height: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#text-1 {
    margin-top: 3em;
}

#fb-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #cccfd2;
    color: #001222;
    padding: 0 0.5em;
    margin-top: 2em;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}

#fb-button:hover {
    background-color: grey;
    cursor: pointer;
}

#fb-button div {
    margin-top: 0;
}

#fb-logo {
    width: 40px;
    height: 40px;
    margin: 0.25em;
}

#footer-logo {
    margin-top: 10em;
    display: block;
    /*margin-left: 27%;*/
    /*margin-right: 27%;*/

}

#footer {
    background-color: #182937;
}

#footer-title {
    font-size: larger;
    margin-top: 0;
}

#footer-rest-top div {
    margin-top: 0;
}

#footer-rest-bottom div {
    margin-top: 0;
}