beautifulsoup4==4.10.0
coverage==6.3.1
Django==3.2.12
django-appconf==1.0.5
django-classy-tags==3.0.1
django-cms==3.9.0
djangocms-admin-style==3.0.0
djangocms-attributes-field==2.0.0
djangocms-bootstrap4==2.0.0
djangocms-file==3.0.0
djangocms-googlemap==2.0.0
djangocms-icon==2.0.0
djangocms-link==3.0.0
djangocms-picture==3.0.0
djangocms-snippet==3.0.0
djangocms-style==3.0.0
djangocms-text-ckeditor==4.0.0
djangocms-video==3.0.0
django-compression-middleware==0.4.1
django-compressor==3.1
django-countries==7.2.1
django-dbbackup==3.3.0
django-filer==2.1.2
django-formtools==2.3
django-js-asset==1.2.2
django-login==1.0
django-mptt==0.13.4
django-partial-date==1.3.2
django-polymorphic==3.0.0
django-sekizai==3.0.1
django-silk==4.2.0
django-storages==1.12.3
django-test-pep8==0.1
django-treebeard==4.5.1
django-user-agents==0.4.0
easy-thumbnails==2.8.1
flake8-django==1.1.2
gunicorn==20.1.0
html5lib==1.1
ipdb==0.13.9
ipython==8.0.1
mysqlclient==2.1.0
parameterized==0.8.1
Pillow==9.0.0
pycodestyle>=2.7.0<2.8.0
pyflakes==2.3.1
PyMySQL==1.0.2
pytest==6.2.5
pytest-cov==3.0.0
pytest-flakes==4.0.5
pytest-pep8==1.0.6
pytz==2021.3
requests==2.27.1
responses==0.17.0
selenium==4.1.0
six==1.16.0
urllib3==1.26.8
user-agents==2.2.0
uWSGI==2.0.20