/* mobile */
@media only screen and (max-width: 1024px) {

    #generated-content {
        font-size: small;
        zoom: 0.75;
    }

    #generated-content img.dgf-logo {
        width: 75px;
        height: auto;
    }
}

/* desktop */
@media only screen and (min-width: 1024px) {
}

#generated-content {
    text-transform: uppercase;
    overflow: hidden;
    height: 500px;
    width: 500px;
}

#generated-text {
    z-index: 3;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 1em;
    white-space: pre-wrap;
}

.dgf-logo {
    z-index: 3;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1em;
}

#overlay {
    z-index: 2;
    position: absolute;
    height: 500px;
    width: 500px;
}

#picture {
    z-index: 1;
    position: absolute;
    top: 0;
    width: auto;
    height: 500px;
}
