{% load i18n dgf %}
<div class="table-line">
    <p>{% trans "TOTAL" %}</p>
    <p>{% trans "in a tournament" %}</p>
    <p>{% now 'Y" %}</p>
    <p>{% trans "in a tournament" %}</p>
</div>
<hr>
<div class="table-line">
    <div>
        <div class="ball-container">
            <div class="ball">
                {{ aces.count }}
            </div>
        </div>
    </div>

    {% with aces|in_tournaments as aces_in_tournaments %}
        <p>{{ aces_in_tournaments.count }}</p>
    {% endwith %}

    {% with aces|current_year as aces_current_year %}
        <p>{{ aces_current_year.count }}</p>

        {% with aces_current_year|in_tournaments as aces_current_year_in_tournaments %}
            <p>{{ aces_current_year_in_tournaments.count }}</p>
        {% endwith %}
    {% endwith %}

</div>