{% load i18n %}

{% with full_on_mobile|default_if_none:False as full_on_mobile %}
{% with model|default_if_none:'' as model %}

{% if request.user.friend.username == 'manolo' %}
    <a href={{url}}>
        <button class="admin-button">
            &#128221;
            <span class="{% if not full_on_mobile %}desktop{% endif %}">
                {% if model %}
                    {{model|title}} admin
                {% else %}
                    {% trans 'Open in admin' %}
                {% endif %}
            </span>
        </button>
    </a>
{% endif %}

{% endwith %}
{% endwith %}