{% load i18n %}

{% if friend.id == request.user.friend.id %}
    <a href="{% url 'dgf:friend_update' %}">
        <button>
            &#128221;
            <span class="desktop">{% trans 'Update profile' %}</span>
        </button>
    </a>
    <a href="{% url 'dgf:tournament_index' %}">
        <button>
            &#129359;
            <span class="desktop">{% trans 'Tournaments' %}</span>
        </button>
    </a>
{% endif %}

{% url 'admin:dgf_friend_change' friend.id as admin_url %}
{% include "dgf/includes/admin_button.html" with url=admin_url %}

{% trans "Impersonate" as text %}
{% url 'impersonate-start' friend.id as impersonate_url %}
{% include "dgf/includes/admin_button.html" with url=impersonate_url text=text icon="&#127917;" %}
