{% load thumbnail i18n cms_tags %}

{% with clickable|default_if_none:False as clickable %}
{% with img_size|add:img_size|stringformat:'s' as double_img_size %}
{% with show_bag_tag|default_if_none:False as show_bag_tag %}
{% with clickable_bag_tag|default_if_none:False as clickable_bag_tag %}

{% comment %}

IMPORTANT NOTE:

- Clickable means that you can click on the picture and open it
    - Behaviour: link to the picture itself
    - Where can you see this? Right now only in the friend detail page

- Not clickable means that you can not open the picture.
    - Behaviour: link to the friend
    - Where can you see this? Everywhere but in the friend detail page

{% endcomment %}

    {% if clickable %}
        <a href="/media/{{friend.main_photo}}" target="_blank">
    {% endif %}

    <div class="friend-tooltip">
        {% if friend.main_photo %}
            <img src="{% thumbnail friend.main_photo double_img_size|add:'x'|add:double_img_size crop %}"
                 class="avatar-img"
                 width="{{img_size}}px"
                 height="{{img_size}}px"/>
        {% else %}
            <div class="avatar-container" style="width: {{img_size}}px; height: {{img_size}}px">
                <div class="avatar-initials" style="font-size: {{font_size}}px; line-height: {{img_size}}px;">
                    {{friend.initials}}
                </div>
            </div>
        {% endif %}
        {% if not clickable and not request.user_agent.is_mobile %}
            <span class="tooltip-text">
                <span>{{friend.full_name}}</span>
                {% if friend.club_role and friend.city %}
                    <br>
                    <span class="tooltip-smaller-text">{{friend.club_role}}</span>
                    &nbsp;-&nbsp;
                    <span class="tooltip-smaller-text">{{friend.city}}</span>
                {% elif friend.club_role %}
                    <br><span class="tooltip-smaller-text">{{friend.club_role}}</span>
                {% elif friend.city %}
                    <br><span class="tooltip-smaller-text">{{friend.city}}</span>
                {% endif %}
                {% if friend.pdga_number and friend.rating %}
                    <br>
                    <span class="tooltip-smaller-text">PDGA #{{friend.pdga_number}}</span>
                    &nbsp;&nbsp;
                    <span class="tooltip-smaller-text">{% trans "Rating" %}: {{friend.rating}}</span>
                {% elif friend.pdga_number %}
                    <br><span class="tooltip-smaller-text">PDGA #{{friend.pdga_number}}</span>
                {% endif %}
            </span>
        {% endif %}
        {% if show_bag_tag and friend.bag_tag %}

            {% if clickable_bag_tag %}
            <a href='{% page_url "bag-tags" %}'>
            {% endif %}

                <div class="bag-tag-number">
                    <span>{{friend.bag_tag}}</span>
                </div>
            {% if clickable_bag_tag %}
            </a>
            {% endif %}

        {% endif %}
    </div>

    {% if clickable %}
        </a>
    {% endif %}

{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}