<div class="top list">
    {% for friend in friends|slice:":3" %}
        <div class="item">
            {% include "dgf/includes/friend_ball.html" with friend=friend show_name=show_name show_rating=show_rating show_best_score_in_wischlingen=show_best_score_in_wischlingen show_ts_wins=show_ts_wins show_bag_tag=show_bag_tag %}
        </div>
    {% endfor %}
</div>

{% if friends|length > 3 %}
    <div class="all list hidden">
        {% for friend in friends %}
            <div class="item">
                {% include "dgf/includes/friend_ball.html" with friend=friend show_name=show_name show_rating=show_rating show_best_score_in_wischlingen=show_best_score_in_wischlingen show_ts_wins=show_ts_wins show_bag_tag=show_bag_tag %}
            </div>
        {% endfor %}
    </div>
{% endif %}