{% with show_rating|default_if_none:False as show_rating %}
{% with show_name|default_if_none:False as show_name %}
{% with show_best_score_in_wischlingen|default_if_none:False as show_best_score_in_wischlingen %}
{% with show_ts_wins|default_if_none:False as show_ts_wins %}
{% with udisc_score|default_if_none:0 as udisc_score %}

    <a class="friend-ball" href="{% url 'dgf:friend_detail' friend.slug %}">
        {% include "dgf/includes/friend_picture.html" with friend=friend img_size="70" font_size="30" %}
        <div class="friend-name">
            {% if show_name and friend.short_name %}{{friend.short_name}}{% endif %}
            {% if show_rating and friend.rating %} ({{friend.rating}}){% endif %}
            {% if show_ts_wins %} ({{friend.tremonia_series_wins}}){% endif %}
            {% if show_best_score_in_wischlingen and friend.best_score_in_wischlingen is not None %}
                {% if friend.best_score_in_wischlingen != 0 %}
                    ({{friend.best_score_in_wischlingen|stringformat:"+i"}})
                {% else %}
                    (E)
                {% endif %}
            {% endif %}
            {% if udisc_score %} ({{udisc_score|stringformat:"+i"}}){% endif %}
        </div>
    </a>

{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}