{% load i18n %}

{% with show_rating|default_if_none:False as show_rating %}
{% with show_name|default_if_none:False as show_name %}
{% with show_best_score_in_wischlingen|default_if_none:False as show_best_score_in_wischlingen %}
{% with show_ts_wins|default_if_none:False as show_ts_wins %}
{% with udisc_score|default_if_none:0 as udisc_score %}
{% with position|default_if_none:0 as position %}
{% with bagtag|default_if_none:0 as bagtag %}
{% with img_size|default:70 as img_size %}
{% with font_size|default:30 as font_size %}

    {% if friend.is_active %}
        <a class="friend-ball" href="{% url 'dgf:friend_detail' friend.slug %}">
    {% else %}
        <a class="friend-ball">
    {% endif %}

        {% include "dgf/includes/friend_picture.html" with friend=friend img_size=img_size font_size=font_size %}
        <div class="friend-name">
            {% if show_name and friend.short_name %}{{friend.short_name}}{% endif %}
            {% if show_rating and friend.rating %} ({{friend.rating}}){% endif %}
            {% if show_ts_wins %} ({{friend.ts_wins}} {% trans "wins" %}){% endif %}
            {% if show_best_score_in_wischlingen and friend.best_score_in_wischlingen is not None %}
                {% if friend.best_score_in_wischlingen != 0 %}
                    ({{friend.best_score_in_wischlingen|stringformat:"+i"}})
                {% else %}
                    (E)
                {% endif %}
            {% endif %}
            {% if udisc_score %} ({{udisc_score|stringformat:"+i"}}){% endif %}
        </div>
        {% if position %}
            <div class="friend-position">&#12935{{position}};</div>
        {% endif %}
        {% if bagtag %}
            <div class="friend-bagtag"><span>{{bagtag}}</span></div>
        {% endif %}

    </a>

{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
