<div class="mobile"
     style="position: relative; padding-bottom: 75%; height: 500px; overflow: hidden;">
    <iframe style="position: absolute; top:0; left: 0; width: 100%; height: 500px; border-width:0;"
            src="https://calendar.google.com/calendar/embed?height=500&amp;wkst=2&amp;bgcolor=%23ffffff&amp;ctz=Europe%2FBerlin&amp;src={{calendar_id}}&amp;src=jvm2afpeuk4di3um9fdq39lk25in0a0p@import.calendar.google.com&amp;color=%231b2633&amp;color=%23D50000&amp;showPrint=0&amp;showTitle=0&amp;showCalendars=0&amp;showTabs=0&amp;mode=AGENDA&amp;hl=de"
            frameborder="0"
            scrolling="no">
    </iframe>
</div>

<div class="desktop"
     style="position: relative; padding-bottom: 75%; height: 0; overflow: hidden;">
    <iframe style="position: absolute; top:0; left: 0; width: 100%; height: 100%; border-width:0;"
            src="https://calendar.google.com/calendar/embed?height=200&amp;wkst=2&amp;bgcolor=%23ffffff&amp;ctz=Europe%2FBerlin&amp;src={{calendar_id}}&amp;src=jvm2afpeuk4di3um9fdq39lk25in0a0p@import.calendar.google.com&amp;color=%231b2633&amp;color=%23D50000&amp;showPrint=0&amp;showTitle=0&amp;showCalendars=0&amp;hl=de"
            frameborder="0"
            scrolling="no">
    </iframe>
</div>