<div style="position: relative; padding-bottom: 75%; height: {{div_height}}; overflow: hidden;">
    <iframe style="position: absolute; top:0; left: 0; width: 100%; height: {{iframe_height}}; border-width:0;"
            src="https://calendar.google.com/calendar/embed?height={{iframe_src_height}}&amp;wkst=2&amp;bgcolor=%23ffffff&amp;ctz=Europe%2FBerlin&amp;src={{calendar_id}}&amp;src=jvm2afpeuk4di3um9fdq39lk25in0a0p@import.calendar.google.com&amp;color=%231b2633&amp;color=%23D50000&amp;showPrint=0&amp;showTitle=0&amp;showCalendars=0&amp;{{extra_options}}hl=de"
            frameborder="0"
            scrolling="no">
    </iframe>
</div>
