@import "dgf/static/css/base/variables_friends";

// mobile
@media only screen and (max-width: 1024px) {

  .cookie-bar {
    bottom: 0;
    flex-direction: column;

    a {
      margin: 0.25em;
    }
  }
}

// desktop
@media only screen and (min-width: 1024px) {

  body.with-cookie-bar {
    &, .cms-toolbar, .language-chooser, #navigation-bar.sticky {
      margin-top: 50px !important;
    }

    #navigation-bar.sticky {
      .language-chooser {
        margin-top: 0 !important;
      }

      &, .language-chooser {
        margin-top: 96px !important;
      }
    }

    .with-cms-toolbar #navigation-bar.sticky .language-chooser {
      margin-top: 0 !important;
    }
  }

  .cookie-bar {
    top: 0;
    line-height: 25px;
    flex-direction: row;
    justify-content: center;

    a {
      margin-left: 1em;
    }
  }
}

.cookie-bar {
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  background: #eee;
  padding: 1em;

  a {
    background-color: #aaa;
    color: white !important;
    padding: 5px;
    border-radius: 5px;

    &.cc-cookie-accept {
      background-color: $color-club-highlight;
    }
  }
}

.no-cookies-no-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-cookies-no-content {
  background-color: #eee;
  padding: 1em;
  margin: 1em;
  border-radius: 5px;
  border: dotted 3px #aaa;
  width: fit-content;
  text-align: center;
}
