{% extends 'base.html' %}
{% load static i18n dgf_images %}

{% block title %}
    {{image_generator}}
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/generators/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/generators/'|add:image_generator|add:'.css' %}">
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/html2canvas.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/generators/base.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/generators/'|add:image_generator|add:'.js' %}"></script>
{% endblock %}

{% block content %}

    <a id="back-to-image-generators" href="{% url 'dgf_images:index' %}">
        <button>{% trans "Back" %}</button>
    </a>

    <div id="image-generator">

        <h1 id="image-generator-title">{{image_generator|replace:"-| "|title}}</h1>

        <div id="configuration">
            {% block configuration %}
            {% endblock %}
        </div>

        <div id="generated-content">
            {% block generated_content %}
            {% endblock %}
        </div>

        <button id="download-button" onclick="capture('#generated-content')">{% trans "Download" %}</button>

    </div>

{% endblock %}
