{% extends 'base.html' %}
{% load i18n static dgf_images sass_tags %}

{% block title %}
    {% trans "Image Generators" %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% sass_src 'css/generators/index.scss' %}">
{% endblock %}

{% block js %}
{% endblock %}

{% block content %}

    <div id="image-generators">

        <h1 class="title">{% trans "Image Generators" %}</h1>

        <div class="list">
            {% for image_generator in image_generators %}
                <a href="{% url 'dgf_images:generator' image_generator %}">
                    <button onclick="$('#new-page-loader').show();">{{image_generator|replace:"-| "|title}}</button>
                </a>
            {% empty %}
                There are no image generators (yet!)
            {% endfor %}
        </div>

    </div>

    <div id="new-page-loader">
        <div class="loader"></div>
        <div class="message">{% trans "Downloading the internet and calculating important stuff" %}</div>
    </div>

{% endblock %}
