{% extends 'dgf_images/generators/base.html' %}
{% load static i18n thumbnail dgf_images %}

{% block configuration%}

    <div class="group">
        <div>
            <label>{% trans "Picture width" %}</label>
            {% include "dgf_images/generators/includes/configuration/less_more_input.html" with id="picture-width" value=request|mobile_or_desktop:"300|600" step=request|mobile_or_desktop:"100|200" unit="px" %}
        </div>
    </div>

    <div class="group">
        <div>
            <label>{% trans "Add Logo at the beginning?" %}</label>
            <input id="show-first-logo"
                   type="checkbox">
        </div>
        <div>
            <label>{% trans "Add Logo at the end?" %}</label>
            <input id="show-last-logo"
                   type="checkbox">
        </div>
    </div>

    <div class="group">
        <div>
            <label>{% trans "Add Banner at the end?" %}</label>
            <input id="show-banner"
                   type="checkbox"
                   checked>
        </div>
        <div>
            <label>{% trans "Move banner" %}</label>
            {% include "dgf_images/generators/includes/configuration/left_right_input.html" with id="move-banner" step=request|mobile_or_desktop:"25|50" unit="px" %}
        </div>
    </div>

    <div class="group">
        <div>
            <label>{% trans "Text color" %}</label>
            {% include "dgf_images/generators/includes/configuration/color_select.html" with id="text-color" selected="#ffffff" %}
        </div>
        <div>
            <label>{% trans "Overlay color" %}</label>
            {% include "dgf_images/generators/includes/configuration/color_select.html" with id="overlay-color" selected="#1b2633" %}
        </div>
    </div>

    {% all_pdga_friends as friends %}

    <div>
        <label id="move-friends-pictures-title">{% trans "Move Friends" %}</label>
        <div id="move-friends-pictures">
            {% for friend in friends %}
                <div data-friend-username="{{friend.username}}">
                    <label>{{friend.short_name}}</label>
                    {% include "dgf_images/generators/includes/configuration/left_right_input.html" with class="move-picture" value=request|mobile_or_desktop:"-10|-20" step=request|mobile_or_desktop:"10|20" unit="px" %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block generated_content %}

    <div id="all-friends">

        <div id="first-logo" class="logo-wrapper">
            <img class="dgf-logo"
                 src="{% static 'img/dgf-logo-white-squared.png' %}"
                 width="200x"
                 height="200px"/>
        </div>

        {% all_pdga_friends as friends %}
        {% for friend in friends %}
            <div class="friend">
                 <img src="{% thumbnail friend.main_photo 500x500 crop %}"
                      width="200x"
                      height="200px"
                      data-friend-username="{{friend.username}}"/>
                <div class="mini-overlay"></div>
                <span class="text rating-difference">{{friend.rating_difference}}</span>
                <span class="text rating">{{friend.rating}}</span>
            </div>
        {% endfor %}

        <div id="last-logo" class="logo-wrapper">
            <img class="dgf-logo"
                 src="{% static 'img/dgf-logo-white-squared.png' %}"
                 width="200x"
                 height="200px"/>
        </div>

        <div id="dgf-banner">
            <img src="{% static 'img/dgf-banner.png' %}"
                 width="1200x"
                 height="320px"/>
        </div>

    </div>

{% endblock %}
