{% extends 'dgf_images/generators/base.html' %}
{% load static i18n thumbnail dgf_images %}

{% block configuration%}

    <div class="group">
        <div>
            <label>{% trans "Picture width" %}</label>
            {% include "dgf_images/generators/includes/configuration/less_more_input.html" with id="picture-width" value=request|mobile_or_desktop:"250|500" step=request|mobile_or_desktop:"50|100" unit="px" %}
        </div>
        <div>
            <label>{% trans "Add Logo at the beginning?" %}</label>
            <input id="show-first-logo"
                   type="checkbox">
        </div>
        <div>
            <label>{% trans "Add Logo at the end?" %}</label>
            <input id="show-last-logo"
                   type="checkbox"
                   checked>
        </div>
    </div>

    <div class="group">
        <div>
            <label>{% trans "Text color" %}</label>
            {% include "dgf_images/generators/includes/configuration/color_select.html" with id="text-color" selected="#8d1950" %}
        </div>
        <div>
            <label>{% trans "Overlay color" %}</label>
            {% include "dgf_images/generators/includes/configuration/color_select.html" with id="overlay-color" selected="#1b2633" none_available=True %}
        </div>
    </div>

{% endblock %}

{% block generated_content %}

    <div id="generated-text"></div>

    <div id="overlay"></div>

    <div id="all-friends">

        <img id="first-logo"
             src="{% static 'img/dgf-logo-blue-squared.png' %}"
             width="100x"
             height="100px"/>

        {% all_pdga_friends as friends %}
        {% for friend in friends %}
            <img class="friend"
                 src="{% thumbnail friend.main_photo 500x500 crop %}"
                 width="100x"
                 height="100px"/>
        {% endfor %}

        <img id="last-logo"
             src="{% static 'img/dgf-logo-blue-squared.png' %}"
             width="100x"
             height="100px"/>
    </div>

{% endblock %}
