{% extends 'dgf_images/detail.html' %}
{% load thumbnail i18n %}

{% block image_generator %}

    <div id="ratings-update">
        {% for friend in friends %}
            {% if friend.social_media_agreement and friend.pdga_number and friend.main_photo %}
                <div class="friend">
                    <span>{{friend.short_name}}</span>
                    <img src="{% thumbnail friend.main_photo 300x300 crop %}"
                         width="300px"
                         height="300px"/>
                </div>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}
