/* mobile */
@media only screen and (max-width: 600px) {

    #friend {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    #friend-picture {
        margin-bottom: 1em;
    }

    #friend-picture img {
        width: 150px !important;
        height: 150px !important;
    }

    #friend-header h1 img {
        width: 50px !important;
        height: 50px !important;
    }

    #friend-picture {
        margin-bottom: 1em;
    }

    #friend-info {
        width: 100%;
    }

    #friend-body > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 1em 0;
    }

    #friend-body div .label {
        font-weight: bold;
    }

    #friend-body div .value {
        width: 100%;
    }

    #friend .pdga b:first-child {
        display: none;
    }

}
/* desktop */
@media only screen and (min-width: 600px) {

    #friend {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    #friend-picture {
        margin-right: 2em;
    }

    #friend-info {
        width: 80%;
    }

    #friend-body > div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 1em 0;
    }

    #friend-body div .label {
        width: 20%;
    }

    #friend-body div .value {
        width: 81%;
    }
}

#friend-info h1 {
    font-size: 1.5em;
    display: flex;
    flex-flow: row;
    align-items: center;
    margin: 0;
}

#friend-info h1 img {
    margin-left: 0.5em;
}

#friend .friend-header-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#friend .pdga {
    font-size: 1.5em;
}

#friend a:link,
#friend a:hover,
#friend a:active,
#friend a:visited {
    text-decoration: none;
}

#friend-info p {
    margin: 0;
}

.division,
.rating {
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.division div {
    color: #ffffff;
    background-color: #8d1950;
    padding: 0.3em;
    margin-left: 0.5em;
    display: inline;
}

.rating .ball-container {
    margin-left: 0.5em;
}

#friend-header {
    margin-bottom: 1.5em;
}

#friend-body {
    display: flex;
    flex-direction: column;
}

#friend-body ul {
    margin: 0 !important;
}

#friend-body li {
    list-style-type: none;
    margin: 0 !important;
}

#friend-body .highlights li:before {
    content: '★\00a0\00a0\00a0';
}
