/* mobile */
@media only screen and (max-width: 600px) {

    .all-friends .friend-ball img {
        width: 70px !important;
        height: 70px !important;
    }

    .all-friends .friend-ball {
        margin: 0.5em !important;
    }
}


/* desktop */
@media only screen and (min-width: 600px) {

    .all-friends .friend-ball {
        margin: 1em !important;
    }
}

#statistics li {
    list-style-type: none;
}

#statistics .line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.all-friends {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.all-friends a:link,
.all-friends a:hover,
.all-friends a:active,
.all-friends a:visited {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

#friends .ball-container {
    line-height: 3em;
    width: 3em;
}

#friends .ball {
    font-size: 1.75em;
}