.container {
    align-items: center;
}

form {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

form .field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1em 0;
}

form label {
    margin-right: 1em;
}

form textarea {
    width: -webkit-fill-available;
}

form .highlight {
    margin-left: 2em;
}

.hidden,
.highlight label,
#bag label{
    display: none !important;
}

select {
    font-family: Gnuolane !important;
}

.disc {
    margin-left: 1em;
}

.disc input[type=number] {
    width: 2.5em;
}

#bag {
    display:flex;
    flex-direction: column;
}

.bag-part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1em;
}

.disc:last-child input[name$=DELETE] {
    display: none;
}

form .highlight input[type=text] {
    width: 90%;
}

.field-image {
    justify-content: flex-start !important;
    margin: 0 !important;
}

.field-image img {
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}

.field-image .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.errorlist {
    color: red;
    list-style: none;
    padding: 0;
    margin: 0;
}

form #submit {
    align-self: flex-end;
    margin-top: 2em;
}

input[name$="DELETE"] {
    -webkit-appearance: initial;
    appearance: initial;
    border: none;
    cursor: pointer;
}

input[name$="DELETE"]:before {
  content:"âŒ";
}

.ace > li {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ace {
    margin-bottom: 1em;
}