#friends {
    position: relative;
    min-height: inherit;
}

#statistics li {
    list-style-type: none;
}

#statistics .line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ball-container {
    border-radius: 50%;
    line-height: 60px;
    width: 60px;
    object-fit: cover;
    object-position: center;
    background: #8d1950;
}

.ball {
    font-size: 30px;
    width: 100%;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}

.division {
    font-weight: bold;
    display: inline-block;
}

.division div {
    color: #ffffff;
    background-color: #8d1950;
    padding: 0.25em;
    display: inline;
}

.all-friends {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.all-friends .friend-ball {
    margin: 1em !important;
}

#pdga-attribution {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
}