/* mobile */
@media only screen and (max-width: 600px) {

    #friend-body div .label {
        font-weight: bold;
    }

    #friend-body div .value {
        width: 100%;
    }

}
/* desktop */
@media only screen and (min-width: 600px) {

    #friend-body div .value {
        width: 81%;
    }
}

.contains-pdga-attribution {
    position: relative;
    min-height: inherit;
    padding-bottom: 3em;
}

#pdga-attribution {
    position: absolute;
    bottom: 0;
    right: 0;
}

.ball-container {
    border-radius: 50%;
    line-height: 2.5em;
    width: 2.5em;
    object-fit: cover;
    object-position: center;
    background: #8d1950;
}

.ball {
    font-size: 1.25em;
    width: 100%;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}

.avatar-img {
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.avatar-container {
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    background: #1b2633;
}

.avatar-initials {
    width: 100%;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}

.friend-ball {
    margin: 0 1em;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.friend-name {
    margin-top: 0.5em;
    color: #1b2633;
    text-align: center;
    font-weight: bold;
}

.value:before {
    content: '>\00a0\00a0\00a0';
}

hr {
    border: none;
    height: 2px;
    width: -webkit-fill-available;
    background-color: #1b2633;
}

#aces .value,
#bag .value {
    display: flex;
    flex-direction: column;
}

.table-line {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.table-line > p,
.table-line > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0.25em;
}

#aces .table-line {
    align-items: center;
}

#aces .table-line > p,
#aces .table-line > div {
    width: 20%;
}

#aces .ball-container {
    line-height: 2em;
    width: 2em;
}

#aces .ball {
    font-size: 1em;
}

#bag .table-line > p,
#bag .table-line > div {
    width: 25%;
}

#bag .table-line:first-child {
    align-items: flex-end;
}

#bag .table-line:last-child {
    align-items: flex-start;
}

.table-line > div > p {
    text-align: center;
    font-size: 0.8em;
    margin: 0.25em !important;
}