/* mobile */
@media only screen and (max-width: 600px) {

    .all-friends .friend-ball img {
        width: 70px !important;
        height: 70px !important;
    }

    .all-friends .friend-ball {
        margin: 0.5em !important;
    }

    #friends li .inner-content {
        margin: 0 !important;
    }

    #statistics .list {
        flex-direction: column;
        align-items: center;
    }

    #statistics #best-friends .list {
        align-items: flex-start;
    }

    #statistics .list .item {
        justify-content: flex-start !important;
        margin: 0.5em 0 !important;
    }

    #best-friends .friend-ball {
        flex-direction: row !important;
        margin-left: 60%;
    }

    #best-friends .friend-ball .friend-name {
        margin: 0 0 0 0.5em !important;
    }

    #statistics img {
        width: 70px !important;
    }

}


/* desktop */
@media only screen and (min-width: 600px) {

    .all-friends .friend-ball {
        margin: 1em !important;
    }

    #statistics .list {
        flex-direction: row;
    }
}

#statistics li {
    list-style-type: none;
}

#statistics .line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#statistics .list {
    display: flex;
}

#statistics .list .item {
    width: 33.33%;
    text-align: center;
    margin: 0;
}

.all-friends {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

#friends .ball-container {
    line-height: 3em;
    width: 3em;
}

#friends .ball {
    font-size: 1.75em;
}

#friends li .inner-content {
    margin-left: 20%;
}

#best-friends .list .item {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
