/* mobile */
@media only screen and (max-width: 600px) {

    #friend-picture img {
        width: 150px !important;
        height: 150px !important;
    }

    #friend-header h1 img {
        width: 50px !important;
        height: 50px !important;
    }
}

.contains-pdga-attribution {
    position: relative;
    min-height: inherit;
    padding-bottom: 3em;
}

#pdga-attribution {
    position: absolute;
    bottom: 0;
    right: 0;
}

.ball-container {
    border-radius: 50%;
    line-height: 2.5em;
    width: 2.5em;
    object-fit: cover;
    object-position: center;
    background: #8d1950;
}

.ball {
    font-size: 1.25em;
    width: 100%;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}

.avatar-img {
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.avatar-container {
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    background: #1b2633;
}

.avatar-initials {
    width: 100%;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}

.friend-ball {
    margin: 0 1em;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.friend-name {
    margin-top: 0.5em;
    color: #1b2633;
    text-align: center;
    font-weight: bold;
}
