.container {
    align-items: center;
}

form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

form .field {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1em 0;
}

form label {
    margin-right: 1em;
}

form input[type=text],
form input[type=url],
form input[type=number] {
    width: 70%;
    padding: 0.25em;
    border-radius: 5px;
}

form .field-image input[type=checkbox] {
    margin: 0 0.25em 0 1em;
}

form .field-image .row label {
    margin-bottom: 0em;
}

form textarea {
    width: -webkit-fill-available;
    border-radius: 5px;
}

form .chosen-container-single .chosen-single {
    height: 2.5em;
    font-size: 1.5em;
    padding: 0.5em;
}

form .chosen-container .chosen-results li,
form .chosen-container-single .chosen-search input[type=text],
form .chosen-container-single .chosen-single div b {
    zoom: 1.5;
}

form .chosen-container-single .chosen-single div {
    right: 0.5em;
    top: 0.25em;
}

form .field input[name=plays_since] {
    width: fit-content;
    text-align: center;
}

form .favorite-course,
form .highlight {
    margin-left: 2em;
}

.hidden,
#favorite-courses label,
#highlights label,
#bag label,
#videos label {
    display: none !important;
}

select {
    font-family: Gnuolane !important;
}

.disc {
    margin-left: 1em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.disc > * {
    margin: 1em;
}

.disc input[type=number] {
    width: 2.5em;
    text-align: center;
}

#bag {
    display:flex;
    flex-direction: column;
}

.bag-part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1em;
}

.disc:last-child input[name$=DELETE] {
    display: none;
}

form .favorite-course select,
form .highlight input[type=text] {
    width: 90%;
}

.field-image {
    justify-content: flex-start !important;
    margin: 0 !important;
}

.field-image img {
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}

.field-image .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.errorlist {
    color: red;
    list-style: none;
    padding: 0;
    margin: 0;
}

form #submit {
    align-self: flex-end;
    margin-top: 2em;
}

input[name$="DELETE"] {
    -webkit-appearance: initial;
    appearance: initial;
    border: none;
    cursor: pointer;
}

input[name$="DELETE"]:before {
  content:"âŒ";
}

.ace > li {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ace {
    margin-bottom: 2em;
}

#videos input[name$="title"] {
    width: 25%
}

#videos input[name$="url"] {
    width: 65%
}

#videos div.field {
    margin: 0 0 1em 0 !important;
}