{% load i18n %}

<div id="admin-bag-tags">
    <h3>{% trans "Admin zone" %}</h3>
    <button id="assign-new-bag-tag-button" onclick="assignNewBagTagPopup()">
        <span class="assign">{% trans "Assign new bag tag(s)" %}</span>
        <span class="cancel" style="display: none;">{% trans "Cancel" %}</span>
    </button>
    <div id="assign-new-bag-tag-popup" style="display: none;">
        <span class="hint">{% trans "Select friends without bag tags and new ones will be assigned" %} </span>
        {% for friend in friends_without_bag_tag %}
            <div class="line clickable"
                 onclick="emptyBagTagClicked('{{friend.username}}')"
                 data-username="{{friend.username}}">
                <div class="number">
                    &nbsp
                </div>
                <div class="player">
                    {% include "dgf/includes/friend_ball.html" with friend=friend %}
                    <div>
                        {{friend.short_name}}
                    </div>
                </div>
            </div>
      {% endfor %}
      <button id="assign-new-bag-tag-trigger" onclick="assignNewBagTags()">
          {% trans "Assign new bag tag(s)" %}
      </button>
      <div id="assign-new-bag-tag-popup-error" class="error"></div>
      <span class="error" id="at-least-1-friend-hint" style="display: none;">{% trans "You have to select at least 1 friend!" %} </span>
    </div>
</div>
