{% load i18n %}

<div id="you-dont-have-bag-tags">

    <span>{% trans "You don't have a bag tag. If you want one do the following:" %}</span>

    <ol>
        <li>
            <span>{% trans "Contact " %}</span>
            <a href="{% url 'dgf:friend_detail' 'david' %}">David</a>
            <span>{% trans " to get one (the bag tags are in the Disc Golf Center)." %}</span>
        </li>
        <li>
            <span class="hint">{% trans "Tell " %}</span>
            <a href="{% url 'dgf:friend_detail' 'manolo' %}">Manolo</a>
            <span>{% trans " so that he can register it here." %}</span>
        </li>
    </ol>

</div>