{% load i18n dgf %}

<div id="bag-tags-metrix" style="display: none;">
    <h3>
        {% trans "Tournaments that ended today" %}
    </h3>
    {% tournaments_ending_today_with_metrix_id as tournaments %}
    <ul id="current-tournaments">
        {% for tournament in tournaments %}
            <li class="tournament">
                <a onclick="tournamentClicked({{tournament.metrix_id}})">
                    {{tournament.name}}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
