{% load dgf i18n %}

<div class="since" onclick="switchStatistics({{friend.bag_tag}})">

    {% if not request.user_agent.is_mobile and friend.since %}
        {% with friend.since|days_since as days %}
            {% if days == 0 %}
                {% trans "Since today" %}
            {% else %}
                {% blocktranslate with date=friend.since|date count days=days %}Since yesterday{% plural %}Since {{date}} ({{days}} days ago){% endblocktranslate %}
            {% endif %}
        {% endwith %}
    {% endif %}

    <span class="statistics-button closed"
         data-bag-tag="{{friend.bag_tag}}">
    </span>

</div>