{% load dgf i18n %}

<div class="statistics"
     data-bag-tag="{{friend.bag_tag}}"
     style="display: none;">

    {% if request.user_agent.is_mobile %}
        <span>⏱&nbsp;{% blocktranslate with date=friend.since|date days=friend.since|days_since %}Since {{date}} ({{days}} days){% endblocktranslate %}</span>
    {% endif %}

    {% if friend.bag_tag_changes_count > 0 %}
        <span>👍️&nbsp;{% trans "Best:" %} {{friend.best_bag_tag}}</span>
        <span>👎&nbsp;{% trans "Worst:" %} {{friend.worst_bag_tag}}</span>
        <span>👉&nbsp;{% trans "Average:" %} {{friend.average_bag_tag|floatformat:0}}</span>
        <span>🫴&nbsp;{% trans "Most received:" %} {{friend.most_received_bag_tag}}</span>
    {% endif %}

    <span>🔄&nbsp;{% blocktranslate count changes=friend.bag_tag_changes_count %}1 bag tag change{% plural %}{{changes}} bag tag changes{% endblocktranslate %}</span>
    <span>1️⃣&nbsp;{% blocktranslate with first_change=friend.first_bag_tag_change|date %}Got their first bag tag on {{first_change}}{% endblocktranslate %}</span>

</div>