{% load dgf i18n sekizai_tags %}

{% addtoblock "js" %}
    <script>
        const getBagTagHistoryUrl = "{% url 'dgf:bag_tag_history' %}";
    </script>
{% endaddtoblock %}

<div class="statistics"
     data-bag-tag="{{friend.bag_tag}}"
     style="display: none;">

    {% if request.user_agent.is_mobile %}
        <span>⏱&nbsp;{% blocktranslate with date=friend.since|date days=friend.since|days_since %}Since {{date}} ({{days}} days){% endblocktranslate %}</span>
    {% endif %}

    {% if friend.bag_tag_changes_count > 0 %}
        <span>👍️&nbsp;{% trans "Best:" %} {{friend.best_bag_tag}}</span>
        <span>👎&nbsp;{% trans "Worst:" %} {{friend.worst_bag_tag}}</span>
        <span>👉&nbsp;{% trans "Average:" %} {{friend.average_bag_tag|floatformat:0}}</span>
        <span>🫴&nbsp;{% trans "Most received:" %} {{friend.most_received_bag_tag}}</span>
    {% endif %}

    <span>
        1️⃣&nbsp;
        {% with friend.first_bag_tag_change|days_since as days %}
            {% if days == 0 %}
                {% trans "Got their first bag tag today!" %}
            {% else %}
                {% blocktranslate with date=friend.first_bag_tag_change|date count days=days %}Got their first bag tag yesterday{% plural %}Got their first bag tag on the {{date}} ({{days}} days ago){% endblocktranslate %}
            {% endif %}
        {% endwith %}
    </span>
    <span>
        🔄&nbsp;{% blocktranslate count changes=friend.bag_tag_changes_count %}1 bag tag change{% plural %}{{changes}} bag tag changes{% endblocktranslate %}
    </span>
    <span {% if friend.last_bag_tag_change|days_since|exceeds_bag_tag_limit %}class="warning"{% endif %}>
        🥏&nbsp;
        {% with friend.last_bag_tag_change|days_since as days %}
            {% if days == 0 %}
                {% trans "Played for the bag tag today" %}
            {% else %}
                {% blocktranslate with date=friend.last_bag_tag_change|date count days=days %}Played yesterday for the bag tag{% plural %}The last time they played for the bag tag was on {{date}} ({{days}} days ago){% endblocktranslate %}
            {% endif %}
        {% endwith %}
        {% if friend.last_bag_tag_change|days_since|exceeds_bag_tag_limit %}❗{% endif %}
    </span>

    <div class="history" onclick="switchHistory('{{friend.slug}}')">
        <span>📈 {% trans "Show history" %}</span>
        <span>&nbsp;</span>
        <span class="history-button closed"
             data-bag-tag="{{friend.slug}}">
        </span>
    </div>

    <div id="chart-{{friend.slug}}" style="width:100%; max-width:100%; display:none;"></div>

</div>