{% load i18n dgf %}

{% if request.user.friend.bag_tag %}

    <div class="header">
        <span class="hint" id="show-bag-tags-hint">{% trans "You can either select a bag tag to claim it (and change it with its owner) or " %} </span>
        <span class="hint" id="select-bag-tags-hint" style="display: none;">{% trans "Select the bag tags you want to update and then click on 'continue'." %} </span>
        <span class="hint" id="select-metrix-tournament-hint" style="display: none;">{% trans "Select a tournament from the list below" %} </span>
        <div>
            <button id="change-multiple-bag-tags" style="display: none;" onclick="changeMultipleBagTags()">
                {% trans "Continue" %}
            </button>
            <button id="enter-multiple-bag-tag-mode" onclick="enterMultipleBagTagMode()">
                {% trans "update multiple bag tags" %}
            </button>
            <button id="exit-multiple-bag-tag-mode" class="negative" style="display: none;" onclick="exitMultipleBagTagMode()">
                {% trans "Cancel" %}
            </button>
            {% tournaments_ending_today_with_metrix_id as tournaments %}
            {% if tournaments %}
                <button id="enter-select-from-metrix" class="new" style="display: none;" onclick="enterSelectFromMetrix()">
                    {% trans "Select from Metrix (experimental!)" %}
                </button>
                <button id="exit-select-from-metrix" class="negative" style="display: none;" onclick="exitSelectFromMetrix()">
                    {% trans "Back" %}
            {% endif %}
            </button>
        </div>
    </div>
    <span class="error" id="at-least-2-bag-tags-hint" style="display: none;">{% trans "You have to select at least 2 bag tags!" %} </span>

{% else %}

    <div id="you-dont-have-bag-tags">
        <span>{% trans "You don't have a bag tag. If you want one do the following:" %}</span>
        <ol>
            <li>
                <span>{% trans "Contact " %}</span>
                <a href="{% url 'dgf:friend_detail' 'david' %}">David</a>
                <span>{% trans " to get one (the bag tags are in the Disc Golf Center)." %}</span>
            </li>
            <li>
                <span class="hint">{% trans "Tell " %}</span>
                <a href="{% url 'dgf:friend_detail' 'manolo' %}">Manolo</a>
                <span>{% trans " so that he can register it here." %}</span>
            </li>
        </ol>
    </div>
{% endif %}
