@font-face {
  font-family: 'Gnuolane';
  src: url('gnuolane-rg.ttf'); /* IE9 Compat Modes */
  src: url('gnuolane-rg.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/* mobile */
@media only screen and (max-width: 600px) {

    .desktop {
        display: none;
    }

    html {
        overflow-x: hidden;
    }

    body {
        overflow-x: hidden;
        position: relative;
    }

    .container {
        width: 80%;
        margin: 1em auto;
        display: flex;
        flex-direction: column;
    }

    #header,
    #navigation-bar{
        display: none !important;
    }

    #mobile-navigation-bar {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 3em;
        width: 100%;
        background-color: #1b2633;
        text-transform: uppercase;
    }

    #mobile-navigation-bar .bar-container {
        display: inline-block;
        cursor: pointer;
        margin: 0.5em;
        position: relative;
    }

    #mobile-navigation-bar .bar-1,
    #mobile-navigation-bar .bar-2,
    #mobile-navigation-bar .bar-3 {
      width: 35px;
      height: 2px;
      background-color: #ffffff;
      margin: 6px 0;
      transition: 0.4s;
      border-radius: 1em;
    }


    #mobile-navigation-bar .change .bar-1,
    #mobile-navigation-bar .change .bar-3 {
        position: absolute;
        left: 0;
        top: 0;
    }

    #mobile-navigation-bar .change .bar-1 {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    #mobile-navigation-bar .change .bar-2 {
        opacity: 0;
    }

    #mobile-navigation-bar .change .bar-3 {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    #mobile-navigation-bar img {
        height: 3em;
        width: auto;
    }

    #mobile-navigation-bar .navbar-nav,
    #mobile-navigation-bar .dropdown-menu {
        background-color: #1b2633;
        padding: 0;
        border: 0;
    }

    #mobile-navigation-bar .navbar-collapse {
        position: absolute;
        top: 3em;
        left: 0;
        width: 100%;
        z-index: 998;
    }

    #mobile-navigation-bar .nav-item a {
        padding: 0.5em 0.75em;
    }

    #mobile-navigation-bar .nav-item .dropdown-menu {
        margin-left: 1em;
    }

    #mobile-navigation-bar a:link,
    #mobile-navigation-bar a:hover,
    #mobile-navigation-bar a:visited,
    #mobile-navigation-bar a:active,
    #mobile-navigation-bar a:focus {
        color: #ffffff;
        background-color: #1b2633;
        font-weight: bold;
    }

    #mobile-navigation-bar a.open,
    #mobile-navigation-bar a:focus {
        color: #8d1950 !important;
    }

    .language-chooser .cms-language .full {
        display: none;
    }

    .container img {
        width: 100%;
        height: auto;
    }

    .container table {
        width: 100% !important;
        height: auto;
    }

    .container table tr {
        display: block;
        float: left;
    }

    .container table th,
    .container table td {
        display: block;
    }

    .container > img {
        width: 100%;
    }

}

/* desktop */
@media only screen and (min-width: 600px) {

    .mobile {
        display: none;
    }

    #mobile-navigation-bar {
        display: none;
    }

    #navigation-bar ul {
        width: 100%;
        background-color: #1b2633;
    }

    #navigation-bar ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding-inline-start: 0;
        text-transform: uppercase;
    }

    #navigation-bar ul li {
        padding: 1em;
        list-style-type: none;
        white-space: nowrap;
    }

    #navigation-bar-header {
        padding: 0 !important;
        position: absolute;
        left: 0;
        top: 0;
    }

    #navigation-bar-header img {
        height: 3.3em;
        width: auto;
    }

    #navigation-bar-language-chooser {
        padding: 0 !important;
        position: absolute;
        right: 0;
        top: 0;
    }

    #navigation-bar a:link,
    #navigation-bar a:hover,
    #navigation-bar a:active,
    #navigation-bar a:visited {
        color: #ffffff;
        font-weight: bold;
    }

    #navigation-bar .selected a:link,
    #navigation-bar .selected a:hover,
    #navigation-bar .selected a:active,
    #navigation-bar .selected a:visited {
        color: #8d1950;
    }

    #navigation-bar .ancestor a:link,
    #navigation-bar .ancestor a:hover,
    #navigation-bar .ancestor a:active,
    #navigation-bar .ancestor a:visited {
        color: #888888;
    }

    .language-chooser .cms-language .short {
        display: none;
    }

    .container {
        width: 60%;
        margin: 1em auto;
        display: flex;
        flex-direction: column;
    }

    .container > img {
        width: fit-content;
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

html {
    background-color: #ffffff;
    color: #1b2633;
    font-family: Gnuolane !important;
    font-size: 1.25em;
    font-weight: lighter;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a:link, a:hover, a:active, a:visited {
    color: #8d1950;
    text-decoration: none !important;
}

body {
    display: block;
    align-items: center;
    padding: 0;
    margin: 0;
}

#header {
    padding: 2em;
    text-align: center;
    background-color: #1b2633;
    color: #ffffff;
    position: relative;
}

.language-chooser {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 990;
}

.language-chooser {
    padding: 1em;
    white-space: nowrap;
    text-transform: uppercase;
}

.language-chooser .cms-language a {
    color: #ffffff !important;
    font-weight: bold;
}

.language-chooser .cms-language .active {
    color: #8d1950 !important;
}

.language-chooser .cms-language .vertical-bar {
    color: gray;
    font-weight: bold;
}

.language-chooser .cms-language:last-child .vertical-bar {
    display: none;
}

#headline img {
    width: 100%;
    height: auto;
}

.container > img {
    align-self: center;
}

.content {
    float: left;
    width: 100%;
}

.sidebar {
    float: left;
    width: 20%;
}

h1 {
    text-transform: uppercase;
}

ul {
    padding: 0;
}

#pre-footer {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #1b2633;
}

footer {
    padding: 2em;
    background-color: #1b2633;
    color: #ffffff;
    font-size: larger;
}

footer table {
    width: 60%!important;
}

footer p, footer td {
    padding: 0;
    margin: 0.25em 0.5em;
}

.align-left {
    align-self: flex-start !important;
}

.align-center {
    align-self: center !important;
}

.align-right {
    align-self: flex-end !important;
}

.hidden {
    display: none !important;
}

form input[type=text],
form input[type=password],
form input[type=url],
form input[type=number] {
    padding: 0.25em;
    border-radius: 5px;
}

button,
input[type=submit],
input[type=button] {
    background-color: #1b2633;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.25em 0.75em;
    border-width: 0;
    text-decoration: none;
}

input[type=button] {
    background-color: #999999 !important;
}

button:hover,
input[type=submit]:hover {
    background:linear-gradient(to top, #4e5966 5%, #1b2633 100%);
}

input[type=button]:hover {
    background:linear-gradient(to top, #666666 5%, #999999 100%);
}

button:active,
input[type=submit]:active,
input[type=button]:active {
	position:relative;
	top:1px;
}

