{% load i18n dgf %}

{% current_tournaments as tournaments %}
{% if tournaments %}
    <li id="now-playing">
        <h2>
            {% trans "We are now..." %}
        </h2>
        <div class="inner-content">
            <ul>
                {% for tournament in tournaments %}
                    <li class="tournament show-all-less">
                        {% with tournament|active_attendance as tournament_players %}
                            <div class="top-info">
                                <div>
                                    {% include "dgf/includes/now_playing.html" with tournament=tournament %}
                                    <div class="mobile">
                                        {% include "dgf/includes/show_all_less.html" with minimum=5 amount=tournament_players.count %}
                                    </div>
                                    <div class="desktop">
                                        {% include "dgf/includes/show_all_less.html" with minimum=10 amount=tournament_players.count %}
                                    </div>
                                </div>
                                <div class="mobile players top">
                                    {% for attendance in tournament_players|slice:":5" %}
                                        {% include "dgf/includes/friend_ball.html" with friend=attendance.friend %}
                                    {% endfor %}
                                </div>
                                <div class="desktop players top">
                                    {% for attendance in tournament_players|slice:":10" %}
                                        {% include "dgf/includes/friend_ball.html" with friend=attendance.friend %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="all hidden list">
                                {% for attendance in tournament_players %}
                                    <div class="item">
                                        {% include "dgf/includes/friend_ball.html" with friend=attendance.friend show_name=True %}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endwith %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </li>
{% endif %}