{% load i18n dgf %}

{% with friends|order_by:"bag_tag"|slice:":3" as friends_ordered_by_bag_tag %}

    <li id="bag-tags" class="show-all-less">
        <h2>
            <div>{% trans "Bag Tags" %}</div>
            <a class="show-all" href="/bag-tags">
                {% trans "(show all)" %}
            </a>
        </h2>
        <div class="inner-content">
            {% include "dgf/includes/friend_balls.html" with friends=friends_ordered_by_bag_tag show_name=True show_bag_tag=True %}
        </div>
    </li>

{% endwith %}
