{% extends 'base.html' %}
{% load static i18n sekizai_tags %}

{% block content %}

    <div id="friends">
        {% addtoblock "css" %}
            <link rel="stylesheet" type="text/css" href="{% static 'friends.css' %}">
        {% endaddtoblock "css" %}

        {% if friends %}

        <h1>{% trans "Stats" %}</h1>

        <ul id="statistics">
            <li class="line">
                <h2>{% trans "Number of club members" %}</h2>
                <div class="ball-container">
                    <div class="ball">
                        {{friends.count}}
                    </div>
                </div>
            </li>
            <li>
                <h2>{% trans "All friends" %}</h2>
                <table>
                    {% for friend in friends %}
                        <tr>
                            <td>
                                <a href="{% url 'dgf:friend_detail' friend.slug %}">
                                    {% include "dgf/includes/friend_display_full_name.html" with friend=friend %}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </li>
        </ul>

        {% else %}
            <p>There are no friends.</p>
        {% endif %}

        {% include "dgf/includes/pdga_attribution.html" %}

    </div>

{% endblock %}
