{% extends 'base.html' %}
{% load i18n sekizai_tags static %}

{% block title %}
    {% trans "Profile" %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'profile.css' %}">
{% endblock %}

{% block js %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script type="text/javascript">
        $(window).on("load", function() {
            $("a[href='/friends/profile']").parent().addClass("selected");
        });
    </script>
{% endblock %}

{% block content %}

    <h1>{% trans "Your profile" %}</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            {% for field in form %}
                {% if field.html_name == "main_photo" %}
                    <div class="field main_photo">
                        {% include "dgf/includes/friend_picture.html" with friend=friend img_size="70px" font_size="30px" %}
                        <div class="row">
                            <input type="checkbox" name="main_photo-clear" id="main_photo-clear_id">
                            <label for="main_photo-clear_id">{% trans "Clear" %}</label>
                        </div>
                    </div>
                    <input class="change_avatar" type="file" name="main_photo" accept="image/*" id="id_main_photo">
                    {{ field.errors }}
                {% else %}
                    <div class="field">
                        {{ field.label_tag }} {{ field }}
                        {{ field.errors }}
                    </div>
                {% endif %}
            {% endfor %}
            {{ highlights.management_form }}
            <div class="field">
                <div>Highlights</div>
            </div>
            <div>
                {% for field in highlights %}
                    <div class="highlight field">
                        {{ field }}
                        {{ field.errors }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <input id="submit" type="submit" value="{% trans 'Update' %}">
    </form>

{% endblock %}