{% extends 'base.html' %}
{% load static cms_tags i18n dgf %}

{% block title %}
    {% trans "Friends" %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'friend_list.css' %}">
{% endblock %}

{% block headline %}
    {% static_placeholder 'headline' %}
{% endblock %}

{% block content %}

    <div id="friend-list-header-text">
        {% static_placeholder 'content' %}
    </div>

    <div id="friends" class="contains-pdga-attribution">

        {% if friends %}

            <h1>{% trans "Stats" %}</h1>

            <ul id="statistics">
                {% include "dgf/includes/overview/0_number_of_club_members.html" with friends=friends %}
                {% include "dgf/includes/overview/1_aces.html" with friends=friends %}
                {% include "dgf/includes/overview/2_favorite_discs.html" %}
                {% include "dgf/includes/overview/3_favorite_courses.html" %}
                {% include "dgf/includes/overview/4_best_friends.html" with friends=friends %}
                {% include "dgf/includes/overview/5_all_friends.html" with friends=friends %}
            </ul>

        {% else %}
            <p>There are no friends.</p>
        {% endif %}

        {% include "dgf/includes/pdga_attribution.html" %}
        {% include "dgf/includes/dgf_version.html" %}

    </div>

{% endblock %}
