{% extends 'base.html' %}
{% load i18n static %}

{% block title %}
    {% trans "Profile" %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'friend_profile.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'chosen.min-1.8.7.css' %}">
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'chosen.jquery-1.8.7.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'friend_profile.js' %}"></script>
    <script type="text/javascript">
        $(window).on("load", function() {
            $("a[href='/friends/profile']").parent().addClass("selected");
        });
    </script>
{% endblock %}

{% block content %}

    <h1>{% trans "Your profile" %}</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            {% for field in form %}
                {% if field.html_name == "main_photo" %}
                    {{ field.label_tag }}
                    <div class="field field-image">
                        {% include "dgf/includes/friend_picture.html" with friend=friend img_size="70px" font_size="30px" %}
                        <div class="row">
                            <input type="checkbox" name="main_photo-clear" id="main_photo-clear_id">
                            <label for="main_photo-clear_id">{% trans "Clear" %}</label>
                        </div>
                    </div>
                    <input class="change_avatar" type="file" name="main_photo" accept="image/*" id="id_main_photo">
                    {{ field.errors }}
                {% elif field.html_name == "sponsor_logo" %}
                    {{ field.label_tag }}
                    <div class="field field-image">
                        <img src="/media/{{friend.sponsor_logo}}" class="avatar-img" width="30px" height="30x"/>
                        <div class="row">
                            <input type="checkbox" name="sponsor_logo-clear" id="sponsor_logo-clear_id">
                            <label for="sponsor_logo-clear_id">{% trans "Clear" %}</label>
                        </div>
                    </div>
                    <input class="change_avatar" type="file" name="sponsor_logo" accept="image/*" id="id_sponsor_logo">
                    {{ field.errors }}
                {% else %}
                    <div class="field">
                        {{ field.label_tag }} {{ field }}
                        {{ field.errors }}
                    </div>
                {% endif %}
            {% endfor %}

            {{ highlights.management_form }}
            <div class="field">
                <div>{% trans "Highlights" %}</div>
            </div>
            <div id="highlights">
                {% for field in highlights %}
                    <div class="highlight field">
                        {{ field }}
                    </div>
                {% endfor %}
            </div>

            {{ discs.management_form }}
            <div id="bag" class="field">
                <p>{% trans "In the bag" %}</p>
                <div data-type="P" class="bag-part">
                    <p>{% trans "Putters" %}</p>
                </div>
                <div data-type="M" class="bag-part">
                    <p>{% trans "Mid-ranges" %}</p>
                </div>
                <div data-type="F" class="bag-part">
                    <p>{% trans "Fairway drivers" %}</p>
                </div>
                <div data-type="D" class="bag-part">
                    <p>{% trans "Distance drivers" %}</p>
                </div>
            </div>
            <div id="all-discs">
                {% for field in discs %}
                    <div class="disc">
                        {{ field }}
                    </div>
                {% endfor %}
            </div>
            <div id="empty-disc-form" class="hidden">
                <div class="disc">
                    {{ discs.empty_form }}
                </div>
            </div>

            {{ aces.management_form }}
            <div class="field">
                <div>{% trans "Aces" %}</div>
            </div>
            <div id="aces">
                {% for field in aces %}
                    <div class="ace">
                        {{ field.as_ul }}
                    </div>
                {% endfor %}
            </div>
            <div id="empty-ace-form" class="hidden">
                <div class="ace">
                    {{ aces.empty_form.as_ul }}
                </div>
            </div>
            <input id="add-ace" type="button" value="{% trans 'Add ace' %}">

        </div>
        <input id="submit" type="submit" value="{% trans 'Update' %}">
    </form>

{% endblock %}