{% extends 'base.html' %}
{% load static cms_tags i18n dgf %}

{% block title %}
    {% trans "Media" %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'friend_base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'media.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'grt-youtube-popup.css' %}">
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'grt-youtube-popup.js' %}"></script>
    {% include "dgf/includes/select_in_menu.html" with path="/friends/media" %}
    <script type="text/javascript" src="{% static 'friend_base.js' %}"></script>
{% endblock %}

{% block content %}

    <div id="media">

        {% if video_urls %}

            <h1>{% trans "Our Videos" %}</h1>

            <div class="videos">
                {% for video_url in video_urls %}
                    {% include "dgf/includes/youtube_video.html" with youtube_id=video_url|youtube_id %}
                {% endfor %}
            </div>

        {% endif %}

    </div>

{% endblock %}
