{% extends 'base.html' %}
{% load static cms_tags i18n %}

{% block title %}
    {% trans "Media" %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'friend_base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'media.css' %}">
{% endblock %}

{% block content %}

    <div id="media">

        {% if videos %}

            <h1>{% trans "Our Videos" %}</h1>

            <div class="videos">
                {% for video in videos %}
                    {% include "dgf/includes/youtube_video.html" with youtube_id=video.youtube_id width="192" height="108" %}
                {% endfor %}
            </div>

        {% endif %}

    </div>

{% endblock %}
