{% if request.user.username == "manolo" %}

    {% comment %} This allows Manolo to have quick commands {% endcomment %}
    <script>
        document.addEventListener('keydown', function (event) {

            if (['text', 'checkbox', 'number', 'textarea'].includes(document.activeElement.type)) {
                return;
            }

            currentUrl = location.origin + location.pathname;

            if (event.key === 'e') {
                window.location = currentUrl + '?edit';
            }
            if (event.key === 'o') {
                window.location = currentUrl + '?toolbar_off';
            }
            if (event.key === 'p') {
                window.location = location.origin + '/admin/cms/page/';
            }
            if (event.key === 'c') {
                window.location = location.origin + '/admin/dgf/bagtagchange/';
            }
            if (event.key === 'f') {
                window.location = location.origin + '/admin/dgf/friend/';
            }
            if (event.key === '?') {
                alert('e → edit\n' +
                      'o → toolbar off\n' +
                      'p → admin pages\n' +
                      'c → admin bag tag changes\n' +
                      'f → admin friend');
            }
        });
    </script>
{% endif %}

{% if not debug and not request.user.is_superuser %}

    {% comment %} We do not want to track admins' activities {% endcomment %}
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-169368121-1');
    </script>

{% endif %}
