{% load static i18n cookie_consent_tags %}

<script type="text/javascript" src="{% static 'cookie_consent/cookiebar.js' %}"></script>

{% if request|cookie_consent_enabled %}
    {% not_accepted_or_declined_cookie_groups request as cookie_groups %}

    {% if cookie_groups %}
        {% url 'cookie_consent_cookie_group_list' %}
        {% cookie_consent_accept_url cookie_groups as url_accept %}
        {% cookie_consent_decline_url cookie_groups as url_decline %}
        <script type="text/javascript">
            var cookie_groups = [];
            {% for cookie_group in cookie_groups %}
                cookie_groups.push("{{ cookie_group.varname }}");
            {% endfor %}

            $(document).ready(function() {
                showCookieBar({
                    {% comment %}The next line should stay like that... please stop trying rewriting it to be nice. You will break the JS.{% endcomment %}
                    content: '{% filter escapejs %}{% with cookie_groups=cookie_groups|join:", " %}<div class="cookie-bar">{% blocktranslate %}This site uses cookies from {{cookie_groups}} and some own required cookies for better performance and user experience. Do you agree to use cookies?{% endblocktranslate %}<a href="{{ url_accept }}" class="cc-cookie-accept">{% trans "Accept all" %}</a><a href="{{ url_decline }}" class="cc-cookie-decline">{% trans "Decline all" %}</a><a href="{{ url_cookies }}">{% trans "Manage cookies" %}</a></div>{% endwith %}{% endfilter %}',
                    cookie_groups: cookie_groups,
                    cookie_decline: "{% get_decline_cookie_groups_cookie_string request cookie_groups %}",
                    beforeDeclined: function() {
                        document.cookie = "{% get_decline_cookie_groups_cookie_string request cookie_groups %}";
                    }
                });
            });
        </script>
    {% endif %}
{% endif %}
