{% load static i18n %}

{% with friend.sponsors.all as all_sponsors %}

    <div id="friend-header">
        <div id="first-headline">
            <div>
                <h1>
                    {{ friend.full_name }}
                </h1>

                {% if friend.sponsors.count %}
                    <div id="sponsor-logos">
                        {% for sponsor in all_sponsors %}
                            {% include "dgf/includes/friend_detail/40_sponsor_picture.html" with sponsor=sponsor img_size="50" %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div id="desktop-edit-buttons" class="desktop">
                {% include "dgf/includes/edit_buttons.html" with friend=friend %}
            </div>
        </div>
        {% if friend.sponsors.count %}
            <div id="sponsor-names" class="larger">
                <p>{% trans "Sponsored by" %}
                    {% for sponsor in all_sponsors %}
                        {% if sponsor.link %}
                            <a href="{{ sponsor.link }}" rel="noopener"
                               target="_blank">{{ sponsor.name }}</a>
                        {% else %}
                            {{ sponsor.name }}
                        {% endif %}
                    {% endfor %}
                </p>
            </div>
        {% endif %}
        {% if friend.club_role %}
            <div class="larger">
                <p>{{ friend.club_role }}</p>
            </div>
        {% endif %}
        <div class="friend-header-line desktop">
            {% if friend.city %}
                <p>{% trans "from" %} {{ friend.city }}</p>
            {% endif %}
            {% if friend.gt_number %}
                <p class="external-ids"><b>GT </b><b><a
                        href="https://rating.discgolf.de/detail.php?gtn={{ friend.gt_number }}"
                        target="_blank">#{{ friend.gt_number }}</a></b></p>
            {% endif %}
            {% if friend.pdga_number %}
                <p class="external-ids"><b>PDGA </b><b><a href="https://pdga.com/player/{{ friend.pdga_number }}"
                                                          target="_blank">#{{ friend.pdga_number }}</a></b></p>
            {% endif %}
        </div>
        <div class="friend-header-line mobile">
            {% if friend.city %}
                <p>{% trans "from" %} {{ friend.city }}</p>
            {% endif %}
        </div>
        <div class="friend-header-line mobile">
            {% if friend.gt_number %}
                <p class="external-ids"><b>GT <a href="https://rating.discgolf.de/detail.php?gtn={{ friend.gt_number }}"
                                                 target="_blank">#{{ friend.gt_number }}</a></b></p>
            {% endif %}
            {% if friend.pdga_number %}
                <p class="external-ids"><b>PDGA <a href="https://pdga.com/player/{{ friend.pdga_number }}"
                                                   target="_blank">#{{ friend.pdga_number }}</a></b></p>
            {% endif %}
        </div>
        <hr>
        <div class="friend-header-line">
            {% if friend.division %}
                <div class="division">
                    <label>{% trans "Division" %} </label>
                    <div>{{ friend.division.id }}</div>
                </div>
            {% endif %}
            {% if friend.rating %}
                <div class="rating">
                    <label>{% trans "Rating" %} </label>
                    <div class="ball-container">
                        <div class="ball">
                            {{ friend.rating }}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endwith %}