{% load i18n %}

{% if friend.plays_since %}
    <div>
        <p class="label">{% trans "Plays disc golf since" %}</p>
        <p class="value">{{friend.plays_since}}</p>
    </div>
{% endif %}
{% with friend.best_score_in_wischlingen as score %}
    {% if score is not None %}
        <div>
            <p class="label">{% trans "Best score in Wischlingen (standard 23 - par 71)" %}</p>
            <p class="value">{{ score|add:"71" }}
                {% if score != 0 %}
                    ({{score|stringformat:"+i"}})
                {% else %}
                    (E)
                {% endif %}
            </p>
        </div>
    {% endif %}
{% endwith %}
{% if friend.free_text %}
    <div>
        <p class="label">{% trans "Discovered disc golf..." %}</p>
        <p class="value">{{friend.free_text}}</p>
    </div>
{% endif %}
{% if friend.job %}
    <div>
        <p class="label">{% trans "That's what I do when I'm not on the disc golf course" %}</p>
        <p class="value">{{friend.job}}</p>
    </div>
{% endif %}
{% if friend.hobbies %}
    <div>
        <p class="label">{% trans "Other hobbies" %}</p>
        <p class="value">{{friend.hobbies}}</p>
    </div>
{% endif %}
{% if friend.favorite_courses.count %}
    <div class="favorite-courses">
        <p class="label">{% trans "Favorite courses" %}</p>
        <ul class="value">
            {% for favorite in friend.favorite_courses.all %}
                <li>{{favorite.course}}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
{% if friend.highlights.count %}
    <div class="highlights">
        <p class="label">{% trans "Highlights" %}</p>
        <ul class="value">
            {% for highlight in friend.highlights.all %}
                <li>&#11088; {{highlight.content}}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
