{% load i18n dgf %}

{% with friend|now_playing as tournaments %}
    {% if tournaments %}
        <div class="now-playing">
            <p class="label">{% trans "Now playing" %}</p>
            <ul class="value">
                {% for tournament in tournaments %}
                    <li>
                        {% include "dgf/includes/now_playing.html" with tournament=tournament %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endwith %}
