{% load thumbnail i18n cms_tags %}

{% if sponsor.logo %}
    {% if sponsor.link %}
        <a href="{{ sponsor.link }}" rel="noopener" target="_blank">
    {% endif %}

    <div class="friend-tooltip">
    {% thumbnail sponsor.logo img_size|add:'x'|add:img_size as thumb %}
        <img src="{{ thumb.url }}"
             class="avatar-img"
             width="{{ thumb.width }}"
             height="{{ thumb.height }}" alt="Sponsor Logo"/>
        {% if sponsor.name and not request.user_agent.is_mobile %}
            <span class="tooltip-text">
                    <span>{{ sponsor.name }}</span>
                </span>
        {% endif %}
    </div>

{% if sponsor.link %}
    </a>
{% endif %}
{% endif %}
