{% load i18n dgf %}

{% with friend|next_tournaments as tournaments %}
    {% if tournaments %}
        <div class="next-tournaments">
            <p class="label">{% trans "Next tournaments" %}</p>
            <ul class="value">
                {% for tournament in tournaments %}
                    <li>
                        &#129359;
                        {% if tournament.url %}
                            <a href="{{tournament.url}}" target="_blank" class="name">{{tournament.name}} </a>
                        {% else %}
                            <span class="name">{{tournament.name}} </span>
                        {% endif %}
                        ({{tournament.date}})
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endwith %}
