{% load i18n dgf %}

{% if friend.discs.count %}
    <div id="bag" class="big-field">
        <p class="label">{% trans "In the bag" %}</p>
        <div class="value">
            <div class="table-line">
                <p>{% trans "Putters" %}</p>
                <p>{% trans "Mid-ranges" %}</p>
                <p>{% trans "Fairway drivers" %}</p>
                <p>{% trans "Distance drivers" %}</p>
            </div>
            <hr>
            <div class="table-line">
                {% with friend.discs.all as all_discs %}
                    <div>
                        {% for disc in all_discs|filter_by_type:"P" %}
                            <p>{{disc.in_the_bag}}</p>
                        {% endfor %}
                    </div>
                    <div>
                        {% for disc in all_discs|filter_by_type:"M" %}
                            <p>{{disc.in_the_bag}}</p>
                        {% endfor %}
                    </div>
                    <div>
                        {% for disc in all_discs|filter_by_type:"F" %}
                            <p>{{disc.in_the_bag}}</p>
                        {% endfor %}
                    </div>
                    <div>
                        {% for disc in all_discs|filter_by_type:"D" %}
                            <p>{{disc.in_the_bag}}</p>
                        {% endfor %}
                    </div>
                {% endwith %}
            </div>
        </div>
        {% with friend.videos.all|filter_by_type:"B"|first as bag_video %}
            {% if bag_video %}
                {% include "dgf/includes/youtube_video.html" with youtube_id=bag_video.url|youtube_id %}
            {% endif %}
        {% endwith %}
    </div>
{% endif %}
