{% extends 'base.html' %}
{% load static cms_tags i18n %}

{% block title %}
    {% trans "Friends" %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/friend_list.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/friend_search.css' %}">
    {% include "dgf/includes/background_css.html" %}
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/friend_search.js' %}"></script>
    {% if request.user_agent.is_mobile %}
        <script type="text/javascript">
            $(window).on("load", () => {
                $("#friends-header").slideUp();
            });
        </script>
    {% endif %}
{% endblock %}

{% block content %}

    <form class="friend-search">

        {% trans "Type a friend's name" as placeholder %}
        {% include "dgf/includes/friend_search_field.html" with placeholder=placeholder %}
        {% include "dgf/includes/friend_search.html" with hide_first=request.user_agent.is_mobile %}

    </form>

{% endblock %}
