{% extends 'base.html' %}
{% load static cms_tags i18n dgf %}

{% block title %}
    {% trans "Friends" %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/friend_list.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/show_all_less.css' %}">
    {% include "dgf/includes/background_css.html" %}
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/friend_list.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/show_all_less.js' %}"></script>
{% endblock %}

{% block headline %}
    {% static_placeholder "friends_headline" %}
{% endblock %}

{% block content %}

    <div id="friend-list-header-text">
        {% static_placeholder "friends_content" %}
    </div>

    <div id="friends" class="contains-pdga-attribution">

        {% if friends %}

            <h1>{% trans "Stats" %}</h1>

            <ul id="statistics">

                {% include "dgf/includes/friend_list/00_friends_number_of_club_members.html" with friends=friends %}

                {% include "dgf/includes/friend_list/10_friends_now_playing.html" %}
                {% include "dgf/includes/friend_list/11_friends_podium_results.html" with friend=friends.0 %}
                {% include "dgf/includes/friend_list/12_friends_next_tournaments.html" %}

                {% include "dgf/includes/friend_list/20_friends_aces.html" with friends=friends %}
                {% include "dgf/includes/friend_list/21_friends_favorite_discs.html" %}
                {% include "dgf/includes/friend_list/22_friends_favorite_courses.html" %}

                {% include "dgf/includes/friend_list/30_friends_ordered_by_pdga_rating.html" with friends=friends %}
                {% include "dgf/includes/friend_list/31_friends_best_scores_in_wischlingen.html" with friends=friends %}
                {% include "dgf/includes/friend_list/32_friends_bagtags.html" with friends=friends %}

                {% include "dgf/includes/friend_list/99_friends_all.html" with friends=friends %}

            </ul>

        {% else %}
            <p>There are no friends.</p>
        {% endif %}

        {% include "dgf/includes/pdga_attribution.html" %}

    </div>

{% endblock %}
