{% load sekizai_tags static %}

{% if friends %}
    <div class="arrow-left" onclick="scrollBack()"></div>
    <div id="scrollable-header">
        {% for friend in friends %}
            {% include "dgf/includes/friend_ball.html" with friend=friend show_name=True %}
        {% endfor %}
    </div>
    <div class="arrow-right" onclick="scrollForward()"></div>
{% else %}
    <p>There are no friends.</p>
{% endif %}

<script>
    function scrollForward() {
      var element = document.getElementById("scrollable-header");
      element.scroll({
          left: element.scrollLeft + 200,
          behavior: 'smooth'
      });
    }
    function scrollBack() {
      var element = document.getElementById("scrollable-header");
      element.scroll({
          left: element.scrollLeft - 200,
          behavior: 'smooth'
      });
    }
</script>