{% extends 'base.html' %}
{% load static i18n sekizai_tags %}

{% block title %}
    {% trans "Feedback" %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/feedback.css' %}">
{% endblock %}

{% block js %}
    {% include "dgf/includes/select_in_menu.html" with path="/friends/feedback" %}
{% endblock %}

{% block content %}

    <form method="post">{% csrf_token %}
        {{ form.as_p }}
        {% trans "Thank you for the feedback" as thank_you %}
        <input id="feedback_submit" type="submit" value="{% trans 'Send' %}" onclick="return alert('{{thank_you}}') == undefined;">
    </form>

    <br>
    {% url 'admin:dgf_githubissue_changelist' as admin_url %}
    {% include "dgf/includes/admin_button.html" with url=admin_url full_on_mobile=True %}
    <br>

{% endblock %}
