{% extends 'base.html' %}
{% load static cms_tags i18n dgf %}

{% block title %}
    {% trans "Tournaments" %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'tournament_list.css' %}">
{% endblock %}

{% block headline %}
    {% static_placeholder 'headline' %}
{% endblock %}

{% block content %}
    {% if tournaments %}

      <h1>{% trans "Tournaments" %}</h1>

      <ul id="tournaments">
          <li id="tournament-header" class="line">
            <div class="cell name">{% trans "Tournament name" %}</div>
            <div class="cell date">{% trans "Begins" %}</div>
            <div class="cell date">{% trans "Ends" %}</div>
          </li>
          <hr>
          {% for tournament in tournaments %}
            <li class="line">
              <div class="cell name">{{ tournament.name }}</div>
              <div class="cell date">{{ tournament.begin }}</div>
              <div class="cell date">{{ tournament.end }}</div>
            </li>
          {% endfor %}
      </ul>

    {% else %}
        <p>There are no tournaments.</p>
    {% endif %}
{% endblock %}
