{% extends 'base.html' %}
{% load static cms_tags i18n %}

{% block title %}
    {% trans "Tremonia Series - Hall Of Fame" %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/tremonia_series_hall_of_fame.css' %}">
{% endblock %}

{% block js %}
{% endblock %}

{% block content %}

    <div id="hall-of-fame">
        <h2>
            {% trans "Hall Of Fame" %}
        </h2>
        <h3>
            {% trans "All winners of the Tremonia Series" %}
        </h3>
        <div class="header line">
            <div class="player">{% trans "Player" %}</div>
            <div class="wins">{% trans "Wins" %}</div>
        </div>
        <div class="content">
            {% for friend in friends %}
                <hr>
                <div class="line">
                    <div class="player">
                        {% include "dgf/includes/friend_ball.html" with friend=friend %}
                        <div>
                            {{friend.short_name}}
                        </div>
                    </div>
                    <div class="wins">
                        {{friend.tremonia_series_wins}}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
