@import "variables";

$color-club-highlight: $dgf-purple;
$color-club-highlight-light: $dgf-purple-light;
$color-club-highlight-dark: $dgf-purple-dark;
$color-club-text: $dgf-purple;
$color-club-background: $dgf-purple;
$color-club-background-dark: $dgf-purple;