$color-negative: #a80000;
$color-positive: #00a800;
$color-neutral: #545454;

$dgf-purple: #8d1950;
$dgf-purple-dark: #5a001d;
$dgf-purple-light: #c04c83;
$dgf-blue: #1B2633;

$friend-ball-diameter: 70px;
$friend-ball-header-diameter: 50px;
$friend-picture-diameter: 150px;
