{% load i18n dgf %}

<div id="metrix-bag-tags" class="page" style="display: none;">

    <h2>{% trans "Tournaments that ended today" %}</h2>

    <div class="header">
        <span class="hint">{% trans "Select a tournament from the list below" %}</span>
        <button class="negative" onclick="showPage('#select-bag-tags')">{% trans "Back" %}</button>
    </div>

    <div class="content">
        {% tournaments_ending_today_with_metrix_id as tournaments %}
        <ul id="current-tournaments">
            {% for tournament in tournaments %}
                <li class="tournament">
                    <a onclick="tournamentClicked({{tournament.metrix_id}})">
                        {{tournament.name}}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

</div>
