/* mobile */
@media only screen and (max-width: 1024px) {

    .league-popup {
        width: 100%;
    }

    #league table th,
    #league table td {
        padding: 0.5em 0.25em;
    }

    #league .friend-ball {
        margin: 0 0.25em 0 0;
        width: 2em;
    }

    #league .friend-ball .avatar-container {
        width: 2em !important;
        height: 2em !important;
    }

    #league .friend-ball .avatar-container .avatar-initials {
        font-size: inherit !important;
        line-height: 2em !important;
    }

    #league .friend-ball:last-child {
        margin: 0;
    }

    #league table .friend-ball .friend-name {
        display: none;
    }

    #league table .position .position-card-container {
        margin: 0;
    }

    #league table .points .ball-container {
        line-height: 1.5em;
        width: 1.5em;
        margin: 0;
    }

    #league table .points .ball {
        font-size: 1em;
    }

    #league .results .match {
        margin: 1em 0;
    }

    #league #league-results .match .result {
        align-self: end;
        align-items: end;
    }

    #league table .results .match .result {
        zoom: 0.75;
    }

    #league .results .match .result .team {
        padding: 0 0.5em;
    }

    #league table .results .match .result .team {
        padding: 0;
    }

    .results .match .result .friend-ball {
        margin: 0.25em;
        width: 2em;
    }

    #league #league-results .match .result .points-container {
        margin: 0.25em 0.5em;
    }

    #league .results .match .result:last-child::after {
        margin-bottom: 0.25em
    }

}

/* desktop */
@media only screen and (min-width: 1024px) {

    .container {
        position: relative;
    }

    #league .friend-ball {
        margin: 0 0.25em;
    }

    #league table th,
    #league table td {
        padding: 1em 1em 0;
    }

    #league table .position .position-card-container {
        margin: 0 1em;
    }

    #league table .points .ball-container {
        line-height: 2.5em;
        width: 2.5em;
    }

    #league table .points .ball {
        font-size: 1.25em;
    }

    #league .results .match {
        margin: 2em 0;
    }

    #league .results .match .result .team {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 0.5em;
    }

    .results .match .result:first-child .team {
        flex-flow: row;
    }

    .results .match .result:last-child .team {
        flex-flow: row-reverse;
    }

}

#league p,
#league div,
#league span,
#league tr,
#league td {
    text-align: center;
    vertical-align: middle;
}

#league table {
    margin: auto;
}

#league table thead tr {
    border-bottom: 2px solid #1b2633;
    font-size: smaller;
}

#league table .team-line {
    cursor: pointer;
}

#league table .position .position-card-container {
    background-color: #8d1950;
    border: solid #8d1950 2px;
    font-weight: bold;
    font-size: 1.25em;
    width: 30px;
    line-height: 35px;
    color: white;
    border-radius: 2px;
    box-shadow: 0px 0px 2px 1px white inset;
}

#league table .position .position-card {
    text-align: left;
    vertical-align: middle;
}

#league table .members .friend-name {
    font-weight: normal;
}

#league table .points .ball-container {
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    background: #8d1950;
    margin: 0 auto;
}

#league table .points .ball {
    width: 100%;
    color: #ffffff;
}

#league table .results-button {
    width: 3em;
}

#league table .results-button:hover {
    cursor: pointer;
    color: #8d1950;
}

#league table .results-button.closed:after {
    content: '▶';
}

#league table .results-button.open:after {
    content: '▼';
}

#league table .results .match {
    margin: 0;
}

#league table .results .match .result {
    width: 50%;
}

#league table .results .match .result .members {
    display: none;
}

#league .results .match .result .points-container {
    margin: 0 0.5em;
}

#league .results .match {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

#league .results .match .result {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
    width: 45%;
}

#league .results .match .result:first-child {
    flex-flow: row;
}

#league .results .match .result:last-child {
    flex-flow: row-reverse;
}

#league .results .match .result:last-child::after {
    content: ":";
    color: #8d1950;
    font-weight: bold;
}

#league table .results .match .result:first-child .team {
    text-align: end;
}

#league table .results .match .result:last-child .team {
    text-align: start;
}

#league .results .match .result:first-child .team-name {
    text-align: end;
}

#league .results .match .result:last-child .team-name {
    text-align: start;
}

#league .results .match .result .members {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

#league .results .match .result .friend-ball .friend-name {
    display: none;
}

#league .results .match .result .points-container {
    background-color: #8d1950;
    color: #ffffff;
    font-weight: bold;
    min-width: 1.5em;
    line-height: 1.5em;
    vertical-align: middle;
}

#league .members .friend-balls-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.league-popup {
    display: none;
    width: 20em;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    flex-flow: column nowrap;
    gap: 1em;
    background-color: #ffffffee;
    padding: 2em;
    border: 2px solid #1b263344;
    border-radius: 10px;
}

.close-league-popup {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    color: #1b2633;
    cursor: pointer;
}

#add-result .points {
    font-size: smaller;
    text-align: right;
}

.league-popup .chosen-container-single .chosen-single {
    height: 2em;
    padding: 0.25em;
}

.league-popup .chosen-container {
    font-size: 1em;
}

.league-popup .chosen-container .chosen-results li {
    line-height: 1.5em;
}

.league-popup .field {
    display: flex;
    flex-flow: column;
}

.league-popup .row-field {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.league-popup .error {
    color: #ff0000;
}

.league-popup button {
    align-self: end;
}

.league-popup input {
    line-height: 2em;
    border: 1px solid #1b2633;
    border-radius: 5px;
}

#add-result.league-popup input {
    margin-right: 0.75em;
}

.league-popup input[type=number] {
    text-align: center;
}

/* Chrome, Safari, Edge, Opera */
.league-popup input::-webkit-outer-spin-button,
.league-popup input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.league-popup input[type=number] {
  -moz-appearance: textfield;
}

#add-result .result {
    width: 2em;
}
