/* mobile */
@media only screen and (max-width: 1024px) {
    .league-popup {
        width: 100%;
    }

    #league table th,
    #league table td {
        padding: 0.5em 0.25em;
    }

    #league table .friend-ball {
        margin: 0 0 0 0.25em;
        width: 2em;
    }

    #league table .friend-ball .friend-name {
        display: none;
    }

    #league table td.position .position-card-container {
        margin: 0;
    }

    #league table td.points .ball-container {
        line-height: 1.5em;
        width: 1.5em;
        margin: 0;
    }

    #league table td.points .ball {
        font-size: 1em;
    }
}

/* desktop */
@media only screen and (min-width: 1024px) {
    .container {
        position: relative;
    }

    #league table th,
    #league table td {
        padding: 1em;
    }

    #league table td.position .position-card-container {
        margin: 0 1em;
    }

    #league table td.points .ball-container {
        line-height: 2.5em;
        width: 2.5em;
    }

    #league table td.points .ball {
        font-size: 1.25em;
    }

}

#league table {
    width: 100%;
}

#league table thead tr {
  border-bottom: 2px solid #1b2633;
}

#league table th,
#league table td {
    text-align: center;
    vertical-align: middle;
}

#league table td.position .position-card-container {
    background-color: #8d1950;
    border: solid #8d1950 2px;
    font-weight: bold;
    font-size: 1.25em;
    width: 30px;
    line-height: 35px;
    text-align: center;
    color: white;
    border-radius: 2px;
    box-shadow: 0px 0px 2px 1px white inset;
}

#league table td.position .position-card {
    text-align: left;
    vertical-align: middle;
}

#league table td.members {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

#league table td.members .friend-name {
    font-weight: normal;
}

#league table td.points .ball-container {
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    background: #8d1950;
}

#league table td.points .ball {
    width: 100%;
    text-align: center;
    color: #ffffff;
}

.league-popup {
    display: none;
    width: 20em;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    flex-flow: column nowrap;
    gap: 1em;
    background-color: #ffffffee;
    padding: 2em;
    border: 2px solid #1b263344;
    border-radius: 10px;
}

.close-league-popup {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    color: #1b2633;
    cursor: pointer;
}

.league-popup .points {
    font-size: smaller;
    text-align: right;
}

.league-popup .chosen-container {
    font-size: 1em;
}

.league-popup .field {
    display: flex;
    flex-flow: column;
}

.league-popup .row-field {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.league-popup .error {
    color: #ff0000;
}

.league-popup button {
    align-self: end;
}

.league-popup input {
    line-height: 2em;
    border: 1px solid #1b2633;
    border-radius: 5px;
}

#add-result.league-popup input {
    margin-right: 0.75em;
}

.league-popup input[type=number] {
    text-align: center;
}

/* Chrome, Safari, Edge, Opera */
.league-popup input::-webkit-outer-spin-button,
.league-popup input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.league-popup input[type=number] {
  -moz-appearance: textfield;
}

#add-result .result {
    width: 2em;
}
