/* mobile */
@media only screen and (max-width: 1024px) {

    .tournament-results h1 {
        font-size: 1.25em;
    }

    .last-tremonia-series-results-wrapper {
        flex-direction: column !important;
        font-size: 0.75em;
    }

    .last-tremonia-series-results-wrapper h2 {
        margin-top: 1em !important;
    }

}

.error {
    color: red;
    text-align: center;
}

.last-tremonia-series-results-wrapper {
    display: flex;
    flex-direction: row;
    font-size: 0.75em;
}

.last-tremonia-series-results-wrapper .table-wrapper {
    margin: 0 2em;
}

.last-tremonia-series-results-wrapper th,
.last-tremonia-series-results-wrapper td {
    text-align: center;
    padding: 0.25em 0.5em;
    white-space: nowrap;
}

.last-tremonia-series-results-wrapper tr:nth-child(1) td:first-child:before {
    content: '\00a0\1F947';
}

.last-tremonia-series-results-wrapper tr:nth-child(2) td:first-child:before {
    content: '\00a0\1F948';
}

.last-tremonia-series-results-wrapper tr:nth-child(3) td:first-child:before {
    content: '\00a0\1F949';
}

.last-tremonia-series-results-wrapper tr td:first-child:before {
    content: '\00a0\00a0\00a0\00a0\00a0\00a0';
}

.last-tremonia-series-results-wrapper td:nth-child(2) {
    font-weight: bold;
}
