# ┌───────────── minute (0 - 59)
# │     ┌───────────── hour (0 - 23)
# │     │    ┌───────────── day of the month (1 - 31)
# │     │    │    ┌───────────── month (1 - 12)
# │     │    │    │    ┌───────────── day of the week (0 - 6) (Sunday to Saturday) or (SUN - SAT)
# │     │    │    │    │
# *     *    *    *    *    <command to execute> # comment
  0    */6   *    *    *     bash /home/ubuntu/dgf.bash fetch_pdga_data         >> /home/ubuntu/logs/cronjobs.log 2>&1
 15    */6   *    *    *     bash /home/ubuntu/dgf.bash fetch_gt_data           >> /home/ubuntu/logs/cronjobs.log 2>&1
  0     18 15-31  *   SUN    bash /home/ubuntu/dgf.bash fetch_ts_data           >> /home/ubuntu/logs/cronjobs.log 2>&1
 30     22   *    *   TUE    bash /home/ubuntu/dgf.bash fetch_tpl_data          >> /home/ubuntu/logs/cronjobs.log 2>&1
  0      1   *    *   MON    bash /home/ubuntu/dgf.bash dbbackup --clean        >> /home/ubuntu/logs/cronjobs.log 2>&1
 15      1   1    *    *     bash /home/ubuntu/dgf.bash mediabackup --clean     >> /home/ubuntu/logs/cronjobs.log 2>&1
# Udisc job will remain deactivated until is fixed https://github.com/thunder-guanaco/dgf/issues/695
# 0      2   *    *    *     bash /home/ubuntu/dgf.bash update_udisc_scores     >> /home/ubuntu/logs/cronjobs.log 2>&1
  0      3   *    *    *     bash /home/ubuntu/dgf.bash update_approved_discs   >> /home/ubuntu/logs/cronjobs.log 2>&1
  0      4   *    *    *     sudo supervisorctl restart dgf_cms                 >> /home/ubuntu/logs/cronjobs.log 2>&1
