/* mobile */
@media only screen and (max-width: 1024px) {

    .friend-ball img {
        width: 70px !important;
        height: 70px !important;
    }

    #bag-tags .content .line {
        margin-left: 1em;
    }
}

/* desktop */
@media only screen and (min-width: 1024px) {

    #bag-tags .content .line {
        margin-left: 5em;
    }
}

#bag-tags .header {
    font-weight: bold;
    font-size: 1.25em;
}

#bag-tags .content {
    display: flex;
    flex-direction: column;
}

#bag-tags .line {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5em 0;
}

#bag-tags .content .number {
    font-weight: bold;
    font-size: 1.25em;
    background-color: #8d1950;
    width: 30px;
    line-height: 35px;
    text-align: center;
    color: white;
    border: solid #8d1950 2px;
    border-radius: 2px;
    box-shadow: 0px 0px 2px 1px white inset;
    margin: 0 1em;
}

#bag-tags .content .number.clickable {
    cursor: pointer;
}

#bag-tags .content .number.clickable:hover {
    background-color: #212529;
    border: solid #212529 2px;
}

#bag-tags .content .number span {
    display: inline-block;
    vertical-align: middle;
}

#bag-tags .content .player {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#bag-tags .player .friend-ball {
    margin: 0 1em 0 0 !important;
}

#bag-tags .player .friend-ball .friend-name {
    display: none;
}

#bag-tags .content .since {
    margin: 0 1em;
}


