/* mobile */
@media only screen and (max-width: 1024px) {

    .friend-ball img {
        width: 70px !important;
        height: 70px !important;
    }

    #bag-tags .content .line {
        margin-left: 1em;
    }


    .header {
        flex-direction: column !important;
        align-items: flex-start !important;
    }

    .header button {
        margin: 0 !important;
    }

    .header .hint {
        margin-bottom: 1em;
    }

    .header > div {
        align-self: flex-end;
    }

    .number {
        margin: 0 1em 0 0 !important;
    }
}

/* desktop */
@media only screen and (min-width: 1024px) {

    #bag-tags .content .line {
        margin-left: 5em;
    }
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1em;
}

.header button {
    height: fit-content;
    margin-left: 0.5em;
}

#bag-tags {
    display: flex;
    flex-direction: column;
}

#bag-tags .content {
    display: flex;
    flex-direction: column;
}

#bag-tags .line {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5em 0;
}

#bag-tags .content .number {
    background-color: #8d1950;
    border: solid #8d1950 2px;
}

.number {
    font-weight: bold;
    font-size: 1.25em;
    width: 30px;
    line-height: 35px;
    text-align: center;
    color: white;
    border-radius: 2px;
    box-shadow: 0px 0px 2px 1px white inset;
    margin: 0 1em;
}

#bag-tags .number.gray {
    background-color: #999999;
    border-color: #999999;
}

#bag-tags.multiple-mode .friend-ball .tooltip-text {
    display: none;
}

#bag-tags .number.selected {
    background-color: #212529 !important;
    border-color: #212529 !important;
}

#bag-tags .number.clickable, #bag-tags .player.clickable {
    cursor: pointer;
}

#bag-tags .number.clickable:hover {
    background-color: #212529;
    border: solid #212529 2px;
}

#bag-tags .number span {
    display: inline-block;
    vertical-align: middle;
}

#edit-bag-tags .number input {
    text-align: center;
    width: 40px;
    padding: 0.25em;
    border-radius: 5px;
    border: solid #212529 2px;
}

.player {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.player .friend-ball {
    margin: 0 1em 0 0 !important;
}

.player .friend-ball .friend-name {
    display: none;
}

#bag-tags .since {
    margin: 0 1em;
}

#bag-tags .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 2em;
}

#edit-bag-tags {
    display: flex;
    flex-direction: column;
}

#multiple-bag-tag-lists {
    display: flex;
    flex-direction: row;
}

#edit-bag-tags ul li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0.25em;
}

#multiple-bag-tag-players li{
    background-color: #f3f3f3;
    border: 1px solid #ccc!important;
    border-radius: 10px;
    padding: 0.5em !important;
}

#s-l-base li {
    opacity: 0.8;
}

.draggedPlayer {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.error {
    color: red;
    margin-bottom: 1em;
}

.negative {
    background-color: #999999 !important;
}

.negative:hover {
    background:linear-gradient(to top, #666666 5%, #999999 100%) !important;
}