/* mobile */
@media only screen and (max-width: 1024px) {

    .friend-ball img {
        width: 70px !important;
        height: 70px !important;
    }

    #bag-tags .content .line {
        margin-left: 1em;
    }

    .header {
        flex-direction: column !important;
        align-items: flex-start !important;
    }

    .header button {
        margin: 0 !important;
    }

    .header .hint {
        margin-bottom: 1em;
    }

    .header > div {
        align-self: flex-end;
    }

    .number {
        margin: 0 1em 0 0 !important;
    }

    .news {
        width: 2em;
        text-align: start;
    }

    .news.neutral {
        text-align: center;
    }
}

/* desktop */
@media only screen and (min-width: 1024px) {

    #bag-tags .content .line {
        margin-left: 5em;
    }

    #edit-bag-tags {
        margin: 1em;
    }

    .news {
        width: 1em;
        text-align: end;
    }
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1em;
}

.header button {
    height: fit-content;
    margin-left: 0.5em;
}

#bag-tags {
    display: flex;
    flex-direction: column;
}

#bag-tags .content {
    display: flex;
    flex-direction: column;
}

.line {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5em 0;
}

#bag-tags .content .number {
    background-color: #8d1950;
    border: solid #8d1950 2px;
}

.news {
    font-weight: bold;
    margin: 0 0.25em;
}

.news.positive {
    color: #00a800;
}

.news.negative {
    color: #a80000;
}

.news.neutral {
    color: #545454;
}

.news.positive span:before {
    content: '▲';
}

.news.negative span:before {
    content: '▼';
}

.news.neutral:before {
    content: '-';
}

.news.neutral span {
    display: none;
}

.news-best {
    width: 1.5em;
    text-align: center;
}

.news-best.fire:before {
    content: '🔥';
}

.news-best.sad:before {
    content: attr(data-content);
}

.number {
    font-weight: bold;
    font-size: 1.25em;
    width: 30px;
    line-height: 35px;
    text-align: center;
    color: white;
    border-radius: 2px;
    box-shadow: 0px 0px 2px 1px white inset;
    margin: 0 1em;
}

#bag-tags .number.gray {
    background-color: #999999;
    border-color: #999999;
}

#bag-tags.multiple-mode .since {
    display: none;
}

#bag-tags.multiple-mode .news,
#bag-tags.multiple-mode .news-best {
    visibility: hidden;
}

#bag-tags .number.selected {
    background-color: #1b2633 !important;
    border-color: #1b2633 !important;
}

#bag-tags .number.clickable, #bag-tags .player.clickable {
    cursor: pointer;
}

#bag-tags .number.clickable:hover {
    background-color: #1b2633;
    border: solid #1b2633 2px;
}

#bag-tags .number span {
    display: inline-block;
    vertical-align: middle;
}

#edit-bag-tags .number input {
    text-align: center;
    width: 40px;
    padding: 0.25em;
    border-radius: 5px;
    border: solid #1b2633 2px;
}

.player {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.player .friend-ball {
    margin: 0 1em 0 0 !important;
}

.player .friend-ball .friend-name {
    display: none;
}

#bag-tags .since {
    margin: 0 1em;
}

#bag-tags .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 2em;
}

#edit-bag-tags {
    display: flex;
    flex-direction: column;
}

#multiple-bag-tag-lists {
    display: flex;
    flex-direction: row;
}

#edit-bag-tags ul li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0.25em;
}

#multiple-bag-tag-players li{
    background-color: #f3f3f3;
    border: 1px solid #ccc!important;
    border-radius: 10px;
    padding: 0.5em !important;
}

#s-l-base li {
    opacity: 0.8;
}

.draggedPlayer {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.error {
    color: red;
    margin-bottom: 1em;
}

button.negative {
    background-color: #999999 !important;
}

button.negative:hover {
    background:linear-gradient(to top, #666666 5%, #999999 100%) !important;
}

button.new {
    background-color: #8d1950 !important;
}

button.new:hover {
    background:linear-gradient(to top, #5a001d 5%, #8d1950 100%) !important;
}

#you-dont-have-bag-tags {
    border: dotted #a80000 3px;
    padding: 1em;
    margin-bottom: 1em;
}

#you-dont-have-bag-tags ul {
    margin: 1em 1em 0em 1em;
}

#admin-bag-tags {
    border: dotted black 3px;
    padding: 0em 1em 3em 1em;
    margin-top: 1em;
    display: flex;
    flex-flow: column;
}

#admin-bag-tags #admin-buttons {
    display: flex;
    flex-flow: column;
    gap: 0.5em;
    align-self: flex-end;
    align-items: flex-end;
}

#admin-bag-tags #admin-buttons button {
    width: fit-content;
}

#admin-bag-tags .number {
    background-color: #8d1950;
    border: solid #8d1950 2px;
}

#admin-bag-tags .number:hover {
    background-color: #1b2633;
    border: solid #1b2633 2px;
}

#admin-bag-tags .clickable {
    cursor: pointer;
}

#admin-bag-tags .number.selected {
    background-color: #1b2633 !important;
    border-color: #1b2633 !important;
}

#bag-tags-wrapper {
    position: relative;
}

#bag-tags-metrix li {
    margin-left: 2em;
}

#bag-tags-metrix a {
    color: #8d1950 !important;
    cursor: pointer;
}

#multiple-bag-tag-players .player .score {
    margin-left: 0.5em;
}