@import "base/variables_friends";

$color-background: #999999;

/* mobile */
@media only screen and (max-width: 1024px) {

  .friend-ball img {
    width: $user-ball-diameter !important;
    height: $user-ball-diameter !important;
  }

  #bag-tags .statistics {
    margin: 1rem 0 2rem 3rem !important;
    flex-flow: column !important;
    gap: 0.5rem !important;
  }

  #bag-tags #select-bag-tags .line {
    margin-left: 4em;
  }

  #multiple-bag-tag-numbers .number {
    margin: 0 0.5em 0 0 !important;
  }

  .header {
    margin-bottom: 1em;

    input {
      width: 90%;
    }

    .error {
      margin: 0;
    }

    button {
      margin: 0 !important;
    }

    > div {
      align-self: flex-end;
    }
  }

  .number {
    margin: 0 1em 0 0 !important;
  }

  .news {
    width: 2em;
    text-align: start;

    &.neutral {
      text-align: center;
    }
  }

  #bag-tags .footer {
    height: fit-content;
    width: 100%;
    padding-top: 2em;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5em;
  }
}

/* desktop */
@media only screen and (min-width: 1024px) {

  #bag-tags {
    .content .line {
      margin-left: 5em;
    }

    #select-bag-tags .line {
      margin-left: 8em;
    }

    .footer {
      display: none;
    }
  }

  #edit-bag-tags {
    margin: 1em;
  }

  .news {
    width: 1em;
    text-align: end;
  }
}

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1em;
  gap: 0.5em;

  button {
    height: fit-content;
  }
}

#bag-tags {
  display: flex;
  flex-direction: column;

  .content {
    display: flex;
    flex-direction: column;
  }
}

.line {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5em 0;
}

#list-bag-tags .number,
#multiple-bag-tag-numbers .number {
  background-color: $color-club-highlight;
  border: solid $color-club-highlight 2px;
}

#list-bag-tags .number.clickable:hover {
  background-color: $color-club-background;
  border-color: $color-club-background;
}

#select-bag-tags, #todays-bag-tags {
  .number {
    background-color: $color-background;
    border: solid $color-background 2px;
  }

  .number:hover, .number.selected {
    background-color: $color-club-background;
    border-color: $color-club-background;
  }
}

#multiple-bag-tag-players .player .number {
  background-color: $color-background;
  border: solid $color-background 2px;
}

.news {
  font-weight: bold;
  margin: 0 0.25em;

  &.positive {
    color: $color-positive;

    span:before {
      content: '▲';
    }
  }

  &.negative {
    color: $color-negative;

    span:before {
      content: '▼';
    }
  }

  &.neutral {
    color: $color-neutral;

    &:before {
      content: '-';
    }

    span {
      display: none;
    }
  }
}

.news-best {
  width: 1.5em;
  text-align: center;

  &.fire:before {
    content: '🔥';
  }

  &.sad:before {
    content: attr(data-content);
  }
}

.number {
  font-weight: bold;
  font-size: 1.25em;
  min-width: 30px;
  line-height: 35px;
  text-align: center;
  color: white;
  border-radius: 2px;
  box-shadow: 0 0 2px 1px white inset;
  margin: 0 1em;
}

#bag-tags {
  .number.clickable, .player.clickable {
    cursor: pointer;
  }

  .number span {
    display: inline-block;
    vertical-align: middle;
  }

  .since {
    margin: 0 1em;
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    gap: 1rem;
  }

  .since:hover {
    cursor: pointer;
    color: $color-club-highlight;
  }

  .warning {
    color: red;
  }

  .statistics {
    margin: 1rem 0 2rem 12em;
    display: flex;
    flex-flow: row wrap;
    gap: 1rem 2rem;
  }

  .statistics-button {
    &.closed:after {
      content: '▶';
    }

    &.open:after {
      content: '▼';
    }
  }

  .history {
    cursor: pointer;
    &:hover {
      color: #8d1950;
    }
  }

  .history-button {
    &.closed:after {
      content: '▶';
    }

    &.open:after {
      content: '▼';
    }
  }
}

.player {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;

  .friend-ball {
    margin: 0 1em 0 0 !important;

    .friend-name {
      display: none;
    }
  }
}


#edit-bag-tags {
  display: flex;
  flex-direction: column;

  ul li {
    list-style-type: none;
    padding: 0;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0.25em;
  }
}

#multiple-bag-tag-list {
  display: flex;
  flex-direction: row;
}

#multiple-bag-tag-players li {
  background-color: #f3f3f3;
  border: 1px solid #ccc !important;
  border-radius: 10px;
  padding: 0.5em !important;
}

#s-l-base li {
  opacity: 0.8;
}

.draggedPlayer {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.error {
  color: red;
  margin-bottom: 1em;
}

button {
  &.negative {
    background-color: $color-background !important;

    &:hover {
      background: linear-gradient(to top, #666666 5%, $color-background 100%) !important;
    }
  }

  &.new {
    background-color: $color-club-highlight !important;

    &:hover {
      background: linear-gradient(to top, $color-club-highlight-dark 5%, $color-club-highlight 100%) !important;
    }
  }
}

#you-dont-have-bag-tags {
  border: dotted #a80000 3px;
  padding: 1em;
  margin-bottom: 1em;

  ul {
    margin: 1em 1em 0 1em;
  }
}

#admin-zone {
  border: dotted black 3px;
  padding: 0 1em 3em 1em;
  margin-top: 1em;
  display: flex;
  flex-flow: column;

  .buttons {
    display: flex;
    flex-flow: column;
    gap: 0.5em;
    align-self: flex-end;
    align-items: flex-end;
  }
}

#admin-bag-tags {
  #admin-buttons button {
    width: fit-content;
  }

  .number {
    background-color: $color-club-highlight;
    border: solid $color-club-highlight 2px;

    &.selected {
      background-color: $color-club-background !important;
      border-color: $color-club-background !important;
    }

    &:hover {
      background-color: $color-club-background;
      border: solid $color-club-background 2px;
    }
  }

  .clickable {
    cursor: pointer;
  }
}


#bag-tags-wrapper {
  position: relative;
}

#metrix-bag-tags {
  li {
    margin-left: 2em;
  }

  a {
    color: $color-club-highlight !important;
    cursor: pointer;
  }
}

#multiple-bag-tag-players {
  .player {
    width: 100%;

    .info {
      margin: 0 0.5em;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }

  .number {
    margin: 0 0.5em 0 0;
  }
}


#multiple-bag-tag-delete .delete {
  margin: 0.5em;
  cursor: pointer;
}

input {
  width: 15em;
  text-align: center;
}
