/* mobile */
@media only screen and (max-width: 1024px) {

    .friend-ball img {
        width: 70px !important;
        height: 70px !important;
    }

    #bag-tags .content .line {
        margin-left: 1em;
    }
}

/* desktop */
@media only screen and (min-width: 1024px) {

    #bag-tags .content .line {
        margin-left: 5em;
    }
}

#bag-tags {
    display: flex;
    flex-direction: column;
}

#bag-tags .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#bag-tags .header button {
    height: fit-content;
}

#bag-tags .content {
    display: flex;
    flex-direction: column;
}

#bag-tags .line {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5em 0;
}

#bag-tags .content .number {
    background-color: #8d1950;
    border: solid #8d1950 2px;
}

.number {
    font-weight: bold;
    font-size: 1.25em;
    width: 30px;
    line-height: 35px;
    text-align: center;
    color: white;
    border-radius: 2px;
    box-shadow: 0px 0px 2px 1px white inset;
    margin: 0 1em;
}

#bag-tags .number.gray {
    background-color: #999999;
    border-color: #999999;
}

#bag-tags .number.selected {
    background-color: #212529 !important;
    border-color: #212529 !important;
}

#bag-tags .number.clickable {
    cursor: pointer;
}

#bag-tags .number.clickable:hover {
    background-color: #212529;
    border: solid #212529 2px;
}

#bag-tags .number span {
    display: inline-block;
    vertical-align: middle;
}

#edit-bag-tags .number input {
    text-align: center;
    width: 40px;
    padding: 0.25em;
    border-radius: 5px;
    border: solid #212529 2px;
}

.player {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.player .friend-ball {
    margin: 0 1em 0 0 !important;
}

.player .friend-ball .friend-name {
    display: none;
}

#bag-tags .since {
    margin: 0 1em;
}

#bag-tags .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 2em;
}

#edit-bag-tags {
    display: flex;
    flex-direction: column;
}

#edit-bag-tags h2 {
    margin: 1em;
}

#multiple-bag-tag-lists {
    margin: 1em;
    display: flex;
    flex-direction: row;
}

#edit-bag-tags ul li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#multiple-bag-tag-players li {
    //background-color: #ddf;
    //padding-left: 50px
}

#multiple-bag-tag-players li, #s-l-base li {
    //background-color: #ddf;
    //padding-left: 50px
}

#multiple-bag-tag-error {
    color: red;
    margin-bottom: 1em;
    align-self: center;
}

#multiple-bag-tag-save {
    align-self: center;
    margin-bottom: 2em;
}