/* mobile */
@media only screen and (max-width: 1024px) {

    #friend-search {
        flex-flow: column-reverse;
    }
}


/* desktop */
@media only screen and (min-width: 1024px) {

    #friend-search {
        flex-flow: column;
    }

    #search-friend-input {
        width: 10em;
    }
}

#friend-search {
    display: flex;
    align-items: center;
}

#search-friend-input {
    margin: 2em 0;
}