/* mobile */
@media only screen and (max-width: 1024px) {

    form {
        width: 100%;
    }

    form .field {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 1em 0;
    }

    form label {
        font-weight: bold;
    }

    label[for="id_sponsor_logo"] + .field-image img {
        width: 33% !important;
    }

    form .field-image label {
        font-weight: normal;
    }

    form input[type=text],
    form input[type=password],
    form input[type=url],
    form input[type=number] {
        width: 100%;
    }

    form #favorite-courses .field,
    form #highlights .field,
    form #bag .disc {
        flex-direction: row;
        align-items: center;
    }

    #videos .field {
        position: relative;
    }

    #videos select[name$="type"] {
        margin: 0.5em 0;
    }

    #videos input[name$="url"] {
        width: 90%
    }

    #videos input[name$=DELETE] {
        position: absolute;
        top: 0;
        right: 0;
    }

    .disc {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .disc > * {
        margin: 0.25em;
    }

}


/* desktop */
@media only screen and (min-width: 1024px) {
    form {
        width: 70%;
    }

    form .field {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 1em 0;
    }

    form label {
        margin-right: 1em;
    }

    form input[type=text],
    form input[type=password],
    form input[type=url],
    form input[type=number] {
        width: 70%;
    }

    form .favorite-course,
    form .highlight {
        margin-left: 2em;
    }

    #videos input[name$="url"] {
        width: 65%
    }

    .disc {
        margin-left: 1em;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .disc > * {
        margin: 1em;
    }

    label[for="id_main_photo"] + .field-image img {
        width: 80% !important;
        height: auto;
    }

    label[for="id_sponsor_logo"] + .field-image img {
        width: 10% !important;
        height: auto;
    }
}

.container {
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

form .field-image {
    flex-direction: column;
    align-items: center !important;
}

form .field-image input[type=checkbox] {
    margin: 0 0.25em 0 1em;
}

form .field-image .row label {
    margin-bottom: 0em;
}

form textarea {
    width: -webkit-fill-available;
    border-radius: 5px;
}

form .chosen-container-single .chosen-single {
    height: 2.5em;
    font-size: 1.5em;
    padding: 0.5em;
}

#bag .chosen-container-single .chosen-single span {
    min-width: 15em;
}

form .chosen-container .chosen-results li,
form .chosen-container-single .chosen-search input[type=text],
form .chosen-container-single .chosen-single div b {
    zoom: 1.5;
}

form .chosen-container-single .chosen-single div {
    right: 0.5em;
    top: 0.25em;
}

#favorite-courses label,
#highlights label,
#bag label,
#videos label {
    display: none !important;
}

select {
    font-family: Gnuolane !important;
}

.disc input[type=number] {
    width: 2.5em;
    text-align: center;
}

#bag {
    display: flex;
    flex-direction: column;
}

.bag-part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1em;
    width: 80%;
}

.disc:last-child input[name$=DELETE] {
    display: none;
}

form .favorite-course select,
form .highlight input[type=text] {
    width: 90%;
}

.field-image {
    justify-content: flex-start !important;
    margin: 0 !important;
}

.field-image img {
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}

.field-image .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.errorlist {
    color: red;
    list-style: none;
    padding: 0;
    margin: 0;
}

form #submit {
    align-self: flex-end;
    margin-top: 2em;
}

input[name$="DELETE"] {
    -webkit-appearance: initial;
    appearance: initial;
    border: none;
    cursor: pointer;
}

input[name$="DELETE"]:before {
    content: "âŒ";
}

.ace > li {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ace {
    margin-bottom: 2em;
}

.ace input[name$=hole] {
    width: 3em;
    text-align: center;
}

.ace li label {
    margin-right: 1em;
}

#videos div.field {
    margin: 0 0 1em 0 !important;
}

.field-change-sponsor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sponsor-form {
    display: flex;
    flex-wrap: wrap;
}

.sponsor-form:not(:first-child) {
    margin-top: 2rem;
}

.sponsor-form > *:not(:first-child) {
    margin-top: .5rem;
}

.sponsor-form > label {
    flex-basis: 15%;
}

.sponsor-form > *:nth-child(2n) {
    flex-basis: 80%;
}