/* mobile */
@media only screen and (max-width: 1024px) {

    .all-friends .friend-ball img {
        width: 70px !important;
        height: 70px !important;
    }

    .all-friends .friend-ball {
        margin: 0.5em !important;
    }

    #friends li .inner-content {
        margin: 0 !important;
    }

    #statistics .list {
        flex-direction: column;
        align-items: center;
    }

    #statistics .show-all-less .list {
        align-items: flex-start;
    }

    #statistics .list .item {
        justify-content: flex-start !important;
        margin: 0.5em 0 !important;
    }

    .show-all-less .friend-ball {
        flex-direction: row !important;
        margin-left: 60%;
    }

    .show-all-less .friend-ball .friend-name {
        margin: 0 0 0 0.5em !important;
    }

    #statistics img {
        width: 70px !important;
    }

    #tournaments .tournament .top-info {
        flex-direction: column !important;
        align-items: flex-start !important;
    }

    #tournaments .tournament .players {
        width: 100% !important;
    }

    #tournaments .tournament .players .friend-ball {
        margin: 1em 0em 1em -2em !important;
    }

}


/* desktop */
@media only screen and (min-width: 1024px) {

    .all-friends .friend-ball {
        margin: 1em !important;
    }

    .show-all-less .friend-ball {
        margin: 1em 2em !important;
    }

    #statistics .list {
        flex-direction: row;
    }

    #statistics .show-all-less .inner-content .item {
        width: auto;
    }

    #tournaments .tournament .players .friend-ball {
        margin: 1em 1em 1em -2em !important;
    }

}

#friend-list-header-text {
    display: flex;
    flex-direction: column;
}

#friend-list-header-text > img {
    align-self: center;
}

#statistics li {
    list-style-type: none;
    margin-top: 3em;
}

#statistics li h2 {
    margin-bottom: 0.5em;
}

#statistics .line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#statistics .list {
    display: flex;
    justify-content: center;
}

#statistics .list .item {
    width: 33.33%;
    text-align: center;
    margin: 0;
}

#statistics .show-all,
#statistics .show-less,
#statistics .show-all-tournaments,
#statistics .show-less-tournaments {
    cursor: pointer;
    color: #8d1950;
    font-weight: normal;
    font-size: 0.75em;
}

.all-friends {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

#friends .ball-container {
    line-height: 3em;
    width: 3em;
}

#friends .ball {
    font-size: 1.75em;
}

#friends li .inner-content {
    margin-left: 20%;
}

#friends li.show-all-less .inner-content {
    margin-left: 10%;
}

.show-all-less {
    min-height: 8em;
}

.show-all-less .all {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

#statistics li.show-all-less .inner-content > div {
    justify-content: center;
}

#tournaments .tournament .top-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

#tournaments .tournament .name {
    width: 65%;
    font-weight: bold;
}

#tournaments .tournament .date {
    font-weight: normal;
    font-style: italic;
}

#tournaments .tournament .players {
    width: 35%;
    display: flex;
    flex-direction: row-reverse;
}

#tournaments .inner-content .tournament {
    margin: 1em 0em !important;
    min-height: 5em !important;
}

#tournaments .show-all,
#tournaments .show-less {
    font-size: 1em !important;
}

#tournaments .inner-content ul {
    width: 100%;
}