.container {
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

form label {
    margin-right: 1em;
}

form button {
    align-self: flex-end;
}
