// mobile
@media only screen and (max-width: 1024px) {

    #media .videos {
        flex-direction: column;
    }
}

// desktop
@media only screen and (min-width: 1024px) {

    #media .videos {
        flex-direction: row;
    }
}

#media .videos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
