/* mobile */
@media only screen and (max-width: 600px) {

    .friend-ball img {
        width: 70px !important;
        height: 70px !important;
    }

    #tournaments input {
        width: 50% !important;
        margin: 1em;
    }
}

/* desktop */
@media only screen and (min-width: 600px) {

}

#tournaments {
    display: flex;
    flex-direction: column;
}

#tournaments #tournament-header {
    font-weight: bold;
    font-size: 1.5em;
}

#tournaments .line {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0.25em 0;
}

#tournaments .friend-ball {
    margin: 0.5em !important;
}

#tournaments .name {
    font-weight: bold;
    width: 70%;
}

#tournaments .date {
    width: 20%;
    display: flex;
    justify-content: center;
}

#tournaments input {
    width: 10%;
    display: flex;
    justify-content: center;
}

#tournaments .cell {
    padding: 0 0.25em;
}

input[type=submit].withdraw {
    background-color: #8d1950 !important;
}

input[type=submit].withdraw:hover {
    background:linear-gradient(to top, #c04c83 5%, #8d1950 100%) !important;
}