#tournaments {
    display: flex;
    flex-direction: column;
}

#tournaments #tournament-header {
    font-weight: bold;
    font-size: 1.5em;
}

#tournaments .line {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0.25em 0;
}

#tournaments .name {
    font-weight: bold;
    width: 70%;
}

#tournaments .date {
    width: 20%;
    display: flex;
    justify-content: center;
}

#tournaments input {
    width: 10%;
    display: flex;
    justify-content: center;
}

#tournaments .cell {
    padding: 0 0.25em;
}

input[type=submit].withdraw {
    background-color: #8d1950 !important;
}

input[type=submit].withdraw:hover {
    background:linear-gradient(to top, #c04c83 5%, #8d1950 100%) !important;
}