@import "base/variables_friends";

/* mobile */
@media only screen and (max-width: 1024px) {

  #tour-results {
    .table {
      .summary {
        width: 100%;

        > .line {

          padding: 0.75em 0;
        }

        > .header {
          z-index: 1;
        }

        .details .line.header .results-wrapper {
          background-color: rgba(0, 0, 0, .05);
        }
      }

      .line {
        .results-wrapper {
          padding: 0.75em 0;
        }

        .result {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
        }
      }

      .details {
        font-size: 0.75em;

        .results-wrapper.empty {
          background: none !important;
        }
      }
    }

    .position-1 {
      color: #f9ad0e;
    }

    .position-2 {
      color: #d1d7da;
    }

    .position-3 {
      color: #df7e08;
    }
  }

  .link {
    color: $color-club-highlight;
    font-weight: bold;
    text-decoration: none !important;
  }
}

/* desktop */
@media only screen and (min-width: 1024px) {

  #tour-results {
    .table {
      .summary {
        width: 30%;

        .line {
          padding: 0.75em 0;

          &:nth-of-type(even) {
            background-color: rgba(0, 0, 0, .05);
          }
        }
      }

      .details {
        width: 70%;

        .line {
          .results-wrapper {
            padding: 0.75em 0;
          }

          &:nth-of-type(even) .results-wrapper {
            background-color: rgba(0, 0, 0, .05);
          }
        }

        .result {
          height: $friend-ball-diameter !important;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
        }
      }
    }

    .position-1, .position-2, .position-3 {
      &:before {
        content: '\00a0\00a0';
      }
    }

    .position-1:after {
      content: '\00a0\1F947';
    }

    .position-2:after {
      content: '\00a0\1F948';
    }

    .position-3:after {
      content: '\00a0\1F949';
    }
  }

  button.admin-button {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1rem;
  }

  h2, h3 {
    text-align: center;
  }
}

.container {
  position: relative;
}

#tour-results {
  .friend-ball {
    img {
      width: $friend-ball-diameter !important;
      height: $friend-ball-diameter !important;
    }

    flex-direction: row !important;

    .friend-name {
      margin: 0 0 0 0.5em !important;
    }
  }

  .table {
    display: flex;
    flex-direction: row;

    .summary {
      display: flex;
      flex-direction: column;

      .line {
        .position {
          width: 25%;
        }

        .player {
          width: 50%;
        }

        .points {
          width: 25%;
        }
      }
    }

    .line {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: center;
    }

    .details {
      display: block;
    }

    .header, .position, .points {
      font-weight: bold;
    }
  }

  .position-X {
    color: #666;
    text-decoration: line-through;
  }
}

.tournament-tooltip {
  position: relative;

  .tooltip-text {
    visibility: hidden;
    width: max-content;
    line-height: normal;
    background-color: $color-club-backgroundcc;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 7px;
    z-index: 1;
    position: absolute;
    top: 5%;
    left: 95%;

    .tooltip-smaller-text {
      font-size: smaller;
      font-weight: normal;
    }

    &::after {
      content: " ";
      position: absolute;
      top: 25%;
      right: 100%; /* To the left of the tooltip */
      margin-top: 0;
      border-width: 10px;
      border-style: solid;
      border-color: transparent $color-club-backgroundcc transparent transparent;
    }
  }

  &:hover .tooltip-text {
    visibility: visible;
  }
}

.statistics-tooltip {
  position: relative;

  .tooltip-text {
    visibility: hidden;
    width: max-content;
    line-height: normal;
    background-color: $color-club-backgroundcc;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 7px;
    z-index: 1;
    position: absolute;
    top: -33%;
    left: -176%;

    &::after {
      content: " ";
      position: absolute;
      top: 25%;
      left: 100%; /* To the right of the tooltip */
      margin-top: 0;
      border-width: 10px;
      border-style: solid;
      border-color: transparent transparent transparent $color-club-backgroundcc;
    }
  }

  &:hover .tooltip-text {
    visibility: visible;
  }
}
