/* mobile */
@media only screen and (max-width: 1024px) {
    #tournament-results-wrapper, #background-image {
        width: 100% !important;
        height: 100% !important;
    }
}

.container {
    margin: auto !important;
}

h1, h2 {
    text-align: center;
    text-transform: none !important;
    margin: 0.4em 0 0.2em 0;
}

#tournament-results-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#background-image {
    position: absolute;
    top: 0px;
    opacity: 0.25;
    filter: contrast(300%) saturate(4);
    object-fit: cover;
}

#tournament-results {
    z-index: 100;
    padding: 1em 0 3em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tournament-results h1 {
    height: 20%;
}

#content-wrapper {
    height: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#content-wrapper .table-wrapper {
    display: block;
    margin: 1em;
}

#content-wrapper .table-wrapper table {
    margin: auto;
}

#content-wrapper td {
    padding: 0.25em 0.5em;
    white-space: nowrap;
}

#content-wrapper td.position {
    font-weight: bold;
    text-align: right;
}

#content-wrapper td.name {
    text-align: left;
}

#content-wrapper td.medal {
    padding: 0;
    text-align: left;
}

#content-wrapper td.medal-1:before {
    content: '\00a0\1F947';
}

#content-wrapper td.medal-2:before {
    content: '\00a0\1F948';
}

#content-wrapper td.medal-3:before {
    content: '\00a0\1F949';
}
