/* mobile */
@media only screen and (max-width: 1024px) {
}

/* desktop */
@media only screen and (min-width: 1024px) {
}

#tour-results table th,
#tour-results table td {
    min-width: 3em;
    text-align: center;
}

#tour-results .friend-ball {
    flex-direction: row !important;
}

#tour-results .friend-ball .friend-name {
        margin: 0 0 0 0.5em !important;
    }