/* mobile */
@media only screen and (max-width: 1024px) {

    #tour-results table {
        width: 100% !important;
    }

    #tour-results table tr {
        display: table-row !important;
    }

    #tour-results table th,
    #tour-results table td {
        display: table-cell !important;
        min-width: 0;
        width: auto;
    }

    #tour-results .friend-ball img {
        width: 70px !important;
        height: 70px !important;
    }

}

/* desktop */
@media only screen and (min-width: 1024px) {
}

#tour-results table th,
#tour-results table td {
    min-width: 3em;
    text-align: center;
    vertical-align: middle;
}

#tour-results .friend-ball {
    flex-direction: row !important;
}

#tour-results .friend-ball .friend-name {
    margin: 0 0 0 0.5em !important;
}
