/* mobile */
@media only screen and (max-width: 1024px) {

    #tour-results table {
        width: 100% !important;
    }

    #tour-results table tbody tr,
    #tour-results table thead tr {
        float: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #tour-results table .top:first-of-type,
    #tour-results table .top:last-of-type {
        width: 25%;
    }

    #tour-results table .top:nth-of-type(2) {
        width: 50%;
    }

    #tour-results table th,
    #tour-results table td {
        display: table-cell !important;
    }

    #tour-results .friend-ball img {
        width: 70px !important;
        height: 70px !important;
    }

    #tour-results table tbody .tournament-results-row th,
    #tour-results table tbody .tournament-results-row td {
        font-size: 0.75em;
        padding: 0.25em;
    }

    .link {
        color: #8d1950;
        text-decoration: none !important;
    }

}

/* desktop */
@media only screen and (min-width: 1024px) {
}

#tour-results h2,
#tour-results h3 {
    text-align: center;
}

#tour-results table th,
#tour-results table td {
    text-align: center;
    vertical-align: middle;
    border: none;
}

#tour-results .friend-ball {
    flex-direction: row !important;
}

#tour-results .friend-ball .friend-name {
    margin: 0 0 0 0.5em !important;
}

#tour-results .position_1:after {
    content: '\00a0\1F947';
}

#tour-results .position_2:after {
    content: '\00a0\1F948';
}

#tour-results .position_3:after {
    content: '\00a0\1F949';
}

#tour-results .position_X {
    color: #ccc;
}