@import "base/variables_friends";

/* mobile */
@media only screen and (max-width: 1024px) {

  #hall-of-fame {
    .header.line {
      justify-content: flex-end;
    }

    .content {
      .line {
        justify-content: space-between;
      }

      .numbers .wins {
        padding: 0 0.6em;
      }
    }

    .friend-ball img {
      width: $friend-ball-diameter !important;
      height: $friend-ball-diameter !important;
    }
  }
}

/* desktop */
@media only screen and (min-width: 1024px) {

  #hall-of-fame {
    .line {
      width: 100%;
      justify-content: center;
    }

    .player {
      width: 30%;
    }

    .numbers {
      width: 60%;

      .wins {
        width: 33%;
        display: flex;
        justify-content: center;
      }
    }
  }
}

#hall-of-fame {
  .header {
    font-weight: bold;
    font-size: 1.25em;
  }

  .content {
    display: flex;
    flex-direction: column;
  }

  .line {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0.25em 0;

    .numbers {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0.25em 0;
    }
  }

  .player {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;

    .friend-ball {
      margin: 0 1em 0 0 !important;

      .friend-name {
        display: none;
      }
    }
  }
}