@font-face {
  font-family: 'Gnuolane';
  src: url('gnuolane-rg.ttf'); /* IE9 Compat Modes */
  src: url('gnuolane-rg.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/* mobile */
@media only screen and (max-width: 600px) {
    .container {
        width: 80%;
        margin: 1em auto;
        display: flex;
        flex-direction: column;
    }
}
/* desktop */
@media only screen and (min-width: 600px) {
    .container {
        width: 60%;
        margin: 1em auto;
        display: flex;
        flex-direction: column;
    }
}

html {
    background-color: #ffffff;
    color: #1b2633;
    font-family: Gnuolane;
    font-size: larger;
    font-weight: lighter;
}

a:link, a:hover, a:active, a:visited {
    color: #8d1950;
}

body {
    display: block;
    align-items: center;
    padding: 0;
    margin: 0;
}

#header {
  padding: 2em;
  text-align: center;
  background-color: #1b2633;
  color: #ffffff;
}

#navigation-bar {
    width: 100%;
    background-color: #1b2633;
}

#navigation-bar ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0;
    padding-inline-start: 0;
    text-transform: uppercase;
}

#navigation-bar ul li {
    display: inline;
    padding: 1em;
    list-style-type: none;
}

#navigation-bar a:link,
#navigation-bar a:hover,
#navigation-bar a:active,
#navigation-bar a:visited {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

#navigation-bar .selected a:link,
#navigation-bar .selected a:hover,
#navigation-bar .selected a:active,
#navigation-bar .selected a:visited {
    color: #8d1950;
}

#navigation-bar .ancestor a:link,
#navigation-bar .ancestor a:hover,
#navigation-bar .ancestor a:active,
#navigation-bar .ancestor a:visited {
    color: #888888;
}

#headline img {
    width: 100%;
    height: auto;
}

.container > img {
    width: fit-content;
}

.content {
    float: left;
    width: 100%;
}
.sidebar {
    float: left;
    width: 20%;
}

h1 {
    text-transform: uppercase;
}

ul {
    padding: 0;
}

#pre-footer {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #1b2633;
}

footer {
    padding: 2em;
    background-color: #1b2633;
    color: #ffffff;
    font-size: larger;
}

footer table {
    width: 60%!important;
}

footer p, footer td {
    padding: 0;
    margin: 0.25em 0.5em;
}
