@font-face {
  font-family: 'Gnuolane';
  src: url('gnuolane-rg.ttf'); /* IE9 Compat Modes */
  src: url('gnuolane-rg.ttf')  format('truetype'); /* Safari, Android, iOS */
}

html {
    background-color: #ffffff;
    color: #1b2633;
    font-family: Gnuolane;
    font-size: larger;
    font-weight: lighter;
}

a:link, a:hover, a:active, a:visited {
    color: #8d1950;
}

body {
    display: block;
    align-items: center;
    padding: 0;
    margin: 0;
}

#header {
  padding: 40px;
  text-align: center;
  background-color: #1b2633;
  color: #ffffff;
}

#navigation-bar {
    width: 100%;
    background-color: #1b2633;
}

#navigation-bar ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0;
    padding-inline-start: 0;
    text-transform: uppercase;
}

#navigation-bar ul li {
    display: inline;
    padding: 20px;
    list-style-type: none;
}

#navigation-bar ul li a:link, #navigation-bar ul li a:hover, #navigation-bar ul li a:active, #navigation-bar ul li a:visited {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.container {
    width: 1000px;
    min-height: 500px;
    margin: 0 auto;
    overflow: auto;
}

.content {
    float: left;
    width: 80%;
}
.sidebar {
    float: left;
    width: 20%;
}

#pre-footer {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #1b2633;
}

footer {
    padding: 2em;
    background-color: #1b2633;
    color: #ffffff;
    font-size: larger;
}

footer table {
    width: 1000px !important;
}

footer p, footer td {
    padding: 0;
    margin: 5px 10px;
}

.avatar-img {
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.avatar-container {
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    background: #1b2633;
}

.avatar-initials {
    width: 100%;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}
