#friends-header {
    background-color: white;
    padding: 1em;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

#scrollable-header {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#friends-header .arrow-left {
    align-self: flex-start;
    margin: 1em 0 0 1em;
    cursor: pointer;
    width: 0;
    height: 0;
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
    border-right: 1em solid #1b2633;
}

#friends-header .arrow-right {
    align-self: flex-start;
    margin: 1em 0 0 1em;
    cursor: pointer;
    width: 0;
    height: 0;
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
    border-left: 1em solid #1b2633;
}

#friends-header a:link, #friends-header a:hover, #friends-header a:active, #friends-header a:visited {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}
