{% load i18n dgf %}

{% with friends|order_by:"-rating" as friends_ordered_by_rating %}

    <li id="best-friends" class="show-all-less">
        <h2>
            {% trans "Best players" %}
            {% include "dgf/includes/show-all-less.html" with minimum=3 friends=friends_ordered_by_rating %}
        </h2>
        <div class="inner-content">
            {% include "dgf/includes/friend_balls.html" with friends=friends_ordered_by_rating show_name=True show_rating=True %}
        </div>
    </li>

{% endwith %}