{% load i18n dgf %}

{% with friends|order_by:"best_score_in_wischlingen" as friends_ordered_by_best_score_in_wischlingen %}

    <li id="best-scores" class="show-all-less">
        <h2>
            {% trans "Best scores in Wischlingen (standard 18 - par 55)" %}
            {% include "dgf/includes/show-all-less.html" with minimum=3 friends=friends_ordered_by_best_score_in_wischlingen %}
        </h2>
        <div class="inner-content">
            {% include "dgf/includes/friend_balls.html" with friends=friends_ordered_by_best_score_in_wischlingen show_name=True show_best_score_in_wischlingen=True %}
        </div>
    </li>

{% endwith %}