{% load i18n dgf %}
{% if request.user.is_superuser %}
    <li id="tournaments">
        <h2>{% trans "Next tournaments" %} <a href="{% url 'dgf:tournament_index' %}">{% trans '(show all tournaments)' %}</a></h2>
        {% all_tournaments as tournaments %}
        <div class="inner-content">
            <ul>
                {% for tournament in tournaments %}
                    <li id="tournament-{{ tournament.id }}" class="tournament show-all-less">
                        {% with tournament.attendance.all as tournament_players %}
                            <div class="top-info">
                                <div>
                                    <span class="name">{{ tournament.name }} </span>
                                    <span class="date">({{ tournament.date }})</span>
                                    {% include "dgf/includes/show-all-less.html" with minimum=5 friends=tournament_players %}
                                </div>
                                <div class="players top">
                                    {% for attendance in tournament_players|slice:":5" %}
                                        {% include "dgf/includes/friend_ball.html" with friend=attendance.friend %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="all hidden list">
                                {% for attendance in tournament_players %}
                                    <div class="item">
                                        {% include "dgf/includes/friend_ball.html" with friend=attendance.friend show_name=True %}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endwith %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </li>
{% endif %}