{% load i18n dgf %}
{% if request.user.is_superuser %}
    <li id="tournaments">
        <h2>{% trans "Next tournaments" %}</h2>
        {% all_tournaments as tournaments %}
        <div class="inner-content">
            <ul>
                {% for tournament in tournaments %}
                    <li id="tournament-{{ tournament.id }}" class="tournament show-all-less">
                        <div class="top-info">
                            <div>
                                <span class="name">{{ tournament.name }} </span>
                                <span class="date">({{ tournament.date }})</span>
                                <span class="show-less hidden">{% trans "(show less)" %}</span>
                                <div class="show-all">{% trans "(show all players)" %}</div>
                            </div>
                            <div class="players top">
                                {% for attendance in tournament.attendance.all|slice:":5" %}
                                    {% include "dgf/includes/friend_ball.html" with friend=attendance.friend %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="all hidden list">
                            {% for attendance in tournament.attendance.all %}
                                <div class="item">
                                    {% include "dgf/includes/friend_ball.html" with friend=attendance.friend %}
                                </div>
                            {% endfor %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </li>
{% endif %}