{% load static cms_tags menu_tags sekizai_tags %}
<!DOCTYPE html>
<html>
    <head>
        <title>DGF - {% block title %}{% page_attribute "page_title" %}{% endblock title %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="icon" href="{% static 'dgf-favicon.png' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'dgf.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'friends_header.css' %}">
        {% render_block "css" %}
    </head>
    <body>
        {% cms_toolbar %}
        <div id="header">
            {% static_placeholder 'header' %}
        </div>
        <div id="friends-header" class="slide-right">
            {% static_placeholder 'friends-header' %}
        </div>
        <div id="friends-header-button">
            {% static_placeholder 'friends-header-button' %}
        </div>
        <div id="navigation-bar">
            <ul>
                {% show_menu 0 0 0 0 %}
            </ul>
            <ul>
                {% show_sub_menu 100 1 %}
            </ul>
        </div>

        <div class="container">
            {% block content %}{% endblock content %}
        </div>
        {% render_block "js" %}
        <footer>
            <div id="pre-footer">
                {% static_placeholder 'pre-footer' %}
            </div>
          {% static_placeholder 'footer' %}
        </footer>
    </body>
</html>
