{% load cms_tags menu_tags sekizai_tags %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>DGF - {% block title %}Disc Golf Friends{% endblock title %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="icon" href="{% static 'img/dgf-favicon.png' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'dgf.css' %}">
        {% render_block "css" %}
    </head>
    <body>
        {% cms_toolbar %}
        <div id="header">
            {%comment%}
                {% static_placeholder 'header' %}
                TODO: See what about default placeholders: http://docs.django-cms.org/en/latest/how_to/placeholders.html
            {%endcomment%}
            <img id="header-logo" src="{% static 'img/header.png' %}" alt="header-logo">
        </div>
        <div id="friends-header">
            Coming soon...
        </div>
        <div id="navigation-bar">
            <ul>
                {% show_menu 0 100 0 0 %}
            </ul>
        </div>

        {% comment %}
            This is really cool and we should use it somewhere
            {% show_breadcrumb %}
        {% endcomment %}

        <div class="container">
            {% block content %}{% endblock content %}
        </div>
        {% render_block "js" %}
        <div id="pre-footer">
            <img src="{% static 'img/pre-footer.png' %}" alt="pre-footer-logo">
        </div>
        <footer>
          {% static_placeholder 'footer' %}
        </footer>
    </body>
</html>
