{% load static cms_tags menu_tags sekizai_tags %}
<!DOCTYPE html>
<html>
    <head>
        <title>DGF - {% block title %}{% page_attribute "page_title" %}{% endblock title %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="icon" href="{% static 'dgf-favicon.png' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'friend_base.css' %}">

        {% render_block "css" %}

        {% comment %}
            The block above is for the DjangoCMS CSS file(s)
            The block below is for every other CSS or JS we want to load
        {% endcomment %}

        {% block css %}
        {% endblock css %}

        <script type="text/javascript" src="{% static 'jquery-3.5.0.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'base.js' %}"></script>
        {% block js %}
        {% endblock js %}

    </head>
    <body>
        {% cms_toolbar %}
        <div id="header">
            {% static_placeholder 'header' %}
        </div>
        <div id="friends-header" class="slide-right">
            {% static_placeholder 'friends-header' %}
        </div>
        <div id="navigation-bar">
            {% comment %}
            Documentation about the navigation bar: http://docs.django-cms.org/en/latest/reference/navigation.html
            {% endcomment %}
            <ul>
                {% show_menu 0 0 0 0 %}
            </ul>
            <ul>
                {% show_sub_menu 1 1 0 %}
            </ul>
            <ul>
                {% show_sub_menu 1 2 0 %}
            </ul>
        </div>
        <div id="headline">
            {% block headline %}{% endblock headline %}
        </div>
        <div class="container">
            {% block content %}{% endblock content %}
        </div>
        {% render_block "js" %}
        <footer>
            <div id="pre-footer">
                {% static_placeholder 'pre-footer' %}
            </div>
          {% static_placeholder 'footer' %}
        </footer>
    </body>
</html>
