{% load i18n static %}
<div class="sponsor">
    {% for field in sponsor.visible_fields %}
        {% if field.name != "logo" %}
            <div class="field">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            </div>
        {% elif field.name == "logo" %}
            {% if field.value %}
                <div class="field field-image">
                    <img src="/media/{{ field.value }}" class="avatar-img" width="50px"
                         height="50px" alt="{% trans "Sponsor Logo" %}"/>
                    <div class="row">
                        <input type="checkbox" name="logo-clear"
                               id="{{ field.html_name }}-clear_id">
                        <label for="{{ field.html_name }}-clear_id">{% trans "Clear" %}</label>
                    </div>
                </div>
            {% endif %}
            <div class="field-change-sponsor">
                <input class="change_avatar" type="file" name="logo" accept="image/*"
                       id="id_{{ field.html_name }}">
                {{ field.errors }}
            </div>
        {% endif %}
    {% endfor %}
    {% for field in sponsor.hidden_fields %}
        {{ hidden }}
    {% endfor %}
</div>