{% load i18n %}
<div style="float: left; margin-right: 2em; margin-top: 2em;">
    {% include "dgf/includes/friend_picture.html" with friend=friend img_size="200px" font_size="56px" %}
</div>
<div style="float:left">
    <h1>
        {% include "dgf/includes/friend_display_name.html" with friend=friend %}
    </h1>
    {% if friend.pdga_number %}
        <h2><a href="https://pdga.com/player/{{friend.pdga_number}}" target="_blank">#{{friend.pdga_number}}</a></h2>
    {% endif %}
    {% if friend.rating %}
        <p><b>{% trans "Rating" %}: </b>{{friend.rating}}</p>
    {% endif %}
    <p><b>{% trans "City" %}: </b>{{friend.city | default:'-'}}</p>
</div>