{% load i18n %}
<div style="float: left; margin-right: 2em; margin-top: 2em;">
    {% include "dgf/includes/friend_picture.html" with friend=friend img_size="200px" font_size="56px" %}
</div>
<div style="float:left">
    <h1>
        {% include "dgf/includes/friend_display_name.html" with friend=friend %}
    </h1>
    {% if friend.pdga_number %}
        <h2><a href="https://pdga.com/player/{{friend.pdga_number}}" target="_blank">#{{friend.pdga_number}}</a></h2>
    {% endif %}
    {% if friend.rating %}
        <p><b>{% trans "Rating" %}: </b>{{friend.rating}}</p>
    {% endif %}
    {% if friend.division %}
        <div class="division">
            <label>{% trans "Division" %}</label>
            <div>{{friend.division.id}}</div>
        </div>
    {% endif %}
    <p><b>{% trans "City" %}: </b>{{friend.city | default:'-'}}</p>
    <p><b>{% trans "Plays since" %}: </b>{{friend.plays_since|default:"-" }}</p>
    <p><b>{% trans "Discovered disc golf..." %} </b>{{friend.free_text|default:"-"}}</p>
    <p><b>{% trans "Highlights" %} </b></p>
    <ul>
        {% for highlight in friend.highlight_set.all %}
            <li style="margin-left: 2em;">{{highlight.content}}</li>
        {% endfor %}
    </ul>
    <p><b>{% trans "In the bag" %} </b></p>
    <p style="margin-left: 1em;"><b>{% trans "Putters" %}</b></p>
    <ul>
        {% for disc in friend.putters %}
            <li style="margin-left: 3em;">{{disc.amount}}x {{disc.disc.mold}}</li>
        {% endfor %}
    </ul>
    <p style="margin-left: 1em;"><b>{% trans "Mid-ranges" %}</b></p>
    <ul>
        {% for disc in friend.mid_ranges %}
            <li style="margin-left: 3em;">{{disc.amount}}x {{disc.disc.mold}}</li>
        {% endfor %}
    </ul>
    <p style="margin-left: 1em;"><b>{% trans "Fairway drivers" %}</b></p>
    <ul>
        {% for disc in friend.fairway_drivers %}
            <li style="margin-left: 3em;">{{disc.amount}}x {{disc.disc.mold}}</li>
        {% endfor %}
    </ul>
    <p style="margin-left: 1em;"><b>{% trans "Distance drivers" %}</b></p>
    <ul>
        {% for disc in friend.distance_drivers %}
            <li style="margin-left: 3em;">{{disc.amount}}x {{disc.disc.mold}}</li>
        {% endfor %}
    </ul>
</>