{% extends 'base.html' %}
{% load static cms_tags i18n %}

{% block title %}
    {% trans "League" %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'dgf_league/css/team_list.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/chosen.min-1.8.7.css' %}">
    {% include "dgf/includes/background_css.html" %}
{% endblock %}

{% block js %}
    <script>
        const csrfToken = "{{csrf_token}}";
        const searchForTeamUrl = "{% url 'dgf_league:friend_without_team_add' %}";
        const createTeamUrl = "{% url 'dgf_league:team_add' %}";
        const createResultUrl = "{% url 'dgf_league:result_add' %}";
    </script>
    <script type="text/javascript" src="{% static 'dgf_league/js/team_list.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/chosen.jquery-1.8.7.min.js' %}"></script>
{% endblock %}

{% block headline %}
    {% static_placeholder "league_headline" %}
{% endblock %}

{% block content %}

    <div id="league_overview-header-text">
        {% static_placeholder "league_content" %}
    </div>

    <div id="league">
        {% include "dgf_league/includes/league_standings.html" with teams=teams %}
        {% include "dgf_league/includes/league_results.html" %}
        {% include "dgf_league/includes/friends_without_team.html" %}
        {% include "dgf_league/includes/league_popups_and_buttons.html" %}
    </div>

{% endblock %}
