{% extends 'base.html' %}
{% load static cms_tags i18n dgf %}

{% block title %}
    {% trans "Liga" %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'dgf_league/css/team_list.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/chosen.min-1.8.7.css' %}">
    {% include "dgf/includes/background_css.html" %}
{% endblock %}

{% block js %}
    <script>
        const csrfToken = "{{csrf_token}}";
        const createTeamUrl = "{% url 'dgf_league:team_add' %}";
        const createResultUrl = "{% url 'dgf_league:result_add' %}";
    </script>
    <script type="text/javascript" src="{% static 'dgf_league/js/team_list.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/chosen.jquery-1.8.7.min.js' %}"></script>
{% endblock %}

{% block headline %}
    {% static_placeholder "league_headline" %}
{% endblock %}

{% block content %}

    <div id="league_overview-header-text">
        {% static_placeholder "league_content" %}
    </div>

    <div id="league">

        <h1>{% trans "Results" %}</h1>

        {% if teams %}

            <table>
                <thead>
                    <tr>
                        <th>{% trans "Place" %}</th>
                        <th>{% trans "Team name" %}</th>
                        <th>{% trans "Players" %}</th>
                        <th>{% trans "Games played" %}</th>
                        <th>{% trans "Points" %}</th>
                    </tr>
                </thead>

                <tbody>
                    {% for team in teams %}
                        <tr>
                            <td class="position">
                                <div class="position-card-container">
                                    <span class="position-card">{{forloop.counter}}</span>
                                </div>
                            </td>
                            <td class="team-name">{{team.name}}</td>
                            <td class="members">
                                {% for membership in team.members.all %}
                                    {% include "dgf/includes/friend_ball.html" with friend=membership.friend show_name=True %}
                                {% endfor %}
                            </td>
                            <td>{{team.played_matches}}</td>
                            <td class="points">
                                <div class="ball-container">
                                    <div class="ball">{{team.points}}</div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>

        {% else %}

            <p>{% trans "There are no teams yet" %}.</p>

        {% endif %}

        {% if request.user.is_authenticated %}

            {% if request.user.friend.memberships.count == 0 %}
                {% include "dgf_league/popups/create_team.html" %}
                <button id="create-new-team-button" onclick="showPopup('#create-new-team')">
                    {% trans "Create new team" %}
                </button>
            {% endif %}


            {% if request.user.friend.memberships.count == 1 %}
                {% include "dgf_league/popups/create_result.html" %}
                <button id="add-result-button" onclick="showPopup('#add-result')">
                    {% trans "Add result" %}
                </button>
            {% endif %}


        {% endif %}

    </div>

{% endblock %}
