name: Deploy

on:
  push:
    branches:
    - master

jobs:
  deploy:
    name: "Deploy to production"
    runs-on: ubuntu-latest
    steps:
      - name: "BD Backup"
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.DJANGO_DEPLOY_HOST }}
          username: ${{ secrets.DJANGO_DEPLOY_USERNAME }}
          key: ${{ secrets.DJANGO_DEPLOY_KEY }}
          script: bash /home/ubuntu/django_project/ci/backup.bash

      - name: "Checkout files"
        uses: actions/checkout@master

      - name: "Set version"
        run: |
            echo "${GITHUB_SHA}" > ci/version

      - name: "Copy project files via scp"
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.DJANGO_DEPLOY_HOST }}
          username: ${{ secrets.DJANGO_DEPLOY_USERNAME }}
          key: ${{ secrets.DJANGO_DEPLOY_KEY }}
          source: "."
          target: "django_project"
          rm: true

      - name: "Restart the server"
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.DJANGO_DEPLOY_HOST }}
          username: ${{ secrets.DJANGO_DEPLOY_USERNAME }}
          key: ${{ secrets.DJANGO_DEPLOY_KEY }}
          script: bash /home/ubuntu/django_project/ci/server_restart.bash
